<!DOCTYPE html> <!-- removeme -->
<html> <!-- removeme -->

<head> <!-- removeme -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- removeme -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> <!-- removeme -->

    <!-- build:remove -->
    <!-- these script files are removed on build -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/perfect-scrollbar.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/perfect-scrollbar.jquery.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/script.js"></script>
    <!-- endbuild -->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" data-remove="false" data-concat="false"> <!-- removeme -->
    <link rel="stylesheet" href="https://cdn.parlameter.si/v1/parlassets/css/perfect-scrollbar.css" data-remove="false" data-concat="false"> <!-- removeme -->
    <%# <link rel="stylesheet" href="https://cdn.parlameter.si/v1/parlassets/scss/style.css" data-remove="false" data-concat="false"> <!-- removeme -->%>
    <link rel="stylesheet" href="style.css" data-remove="false" data-concat="false"> <!-- removeme -->

    <!-- your css file is compiled to this and later inlined (must begin with data-inline="true" )-->
    <link data-inline="true" rel="stylesheet" href="css/style.css">

    <script>
      var seznamPoslancevData = <%- JSON.stringify(data); %>;
      var seznamPoslancevState = <%- JSON.stringify(state); %>;
    </script>
</head> <!-- removeme -->

<body> <!-- removeme -->
    <% function round(value, precision) {
      var multiplier = Math.pow(10, precision || 0);
      return Math.round(value * multiplier) / multiplier;
    };

    var analyses = {
      seat_count: {
        label: 'po številu sedežev'
      },
      presence_sessions: {
        label: 'po prisotnosti na sejah DZ',
        unit: 'percent'
      },
      presence_votes: {
        label: 'po prisotnosti na glasovanjih sej DZ',
        unit: 'percent'
      },
      vocabulary_size: {
        label: 'po besednem zakladu'
      },
      privzdignjeno: {
        label: 'po pogostosti rabe privzdignjenega besedja'
      },
      preprosto: {
        label: 'po pogostosti rabe preprostega besedja'
      },
      problematicno: {
        label: 'po pogostosti rabe ekscesnega besedja'
      }
    };
    var analysis = state && state.analysis ? state.analysis : 'seat_count';
    data.data = data.data.sort(function(a, b) {
      return a.results[analysis] > b.results[analysis] ? -1 : (a.results[analysis] < b.results[analysis] ? 1 : 0)
    });
    var maxValue = data.data[0].results[analysis]; %>

    <!-- everything above here is part of the page and not part of the card -->
    <div class="card-container card-halfling <%= className %>">
        <div class="card-header">
            <div class="card-header-border"></div>
            <h1>Seznam poslanskih skupin <%= analyses[analysis].label %></h1> <!-- this text is the only thing you touch in .card-header -->
        </div>
        <div class="card-content">
          <ul class="party-list">
            <% data.data.forEach(function(result, index) { %>
            <li class="party">
              <div class="column name">
                <a class="funblue-light-hover" href="/ps/id/<%= result.party.id %>"><%= result.party.acronym %></a>
              </div>
              <div class="column chart">
                <% if (state && state.analysis) {
                     var rawValue = result.results[state.analysis];
                     var displayValue = round(rawValue, 1) + (analyses[state.analysis].unit === 'percent' ? '%' : '');
                     var chartWidth = rawValue === 0 ? '1px' : rawValue / maxValue * 80 + '%';
                  %>
                  <div class="progress hugebar">
                    <div class="progress-bar funblue" role="progressbar" style="width: <%= chartWidth %>"></div>
                    <div class="progress_number"><%= displayValue %></div>
                  </div>
                <% } %>
              </div>
            </li>
            <% }) %>
          </ul>
        </div>
        <div class="card-footer">
                <div class="card-logo hidden">
                     <a href="https://skoraj.parlameter.si/">
                         <img src="https://cdn.parlameter.si/v1/parlassets/img/logo-parlameter.svg" alt="parlameter logo">
                     </a>
                 </div>

            <div class="card-circle-button card-share"></div>
            <div class="card-circle-button card-embed"></div>
            <div class="card-circle-button card-info">i</div>
        </div>
    </div>
    <!-- everything below here is part of the page and not part of the card -->

    <!-- your js file is compiled to this and later inlined (must begin with data-inline="true" )-->
    <!-- inline temp/js/script.js as <script> -->
    <script data-inline="true" src="js/script.js"></script>

</body> <!-- removeme -->

</html> <!-- removeme -->
