<!DOCTYPE html> <!-- removeme -->
<html> <!-- removeme -->

<head> <!-- removeme -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- removeme -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> <!-- removeme -->

    <!-- build:remove -->
    <!-- these script files are removed on build -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/script.js"></script>
    <!-- endbuild -->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" data-remove="false" data-concat="false"> <!-- removeme -->
    <link rel="stylesheet" href="https://cdn.parlameter.si/v1/parlassets/scss/style.css" data-remove="false" data-concat="false"> <!-- removeme -->

    <!-- your css file is compiled to this and later inlined (must begin with data-inline="true" )-->
    <link data-inline="true" rel="stylesheet" href="css/style.css">

</head> <!-- removeme -->

<body> <!-- removeme -->


<!-- everything above here is part of the page and not part of the card -->
<div class="card-container card-halfling <%= className %>" data-id="<%= cardData.group %>/<%= cardData.method %>">
    <div class="card-header">
        <div class="card-header-border"></div>
        <h1>Najtežje bi se jim pridružili</h1>
        <!-- this text is the only thing you touch in .card-header -->
    </div>
    <div class="card-content full">
        <div class="card-content-front">
            <ul class="person-list">
                <% data.results.forEach(function(member) { %>
                <li class="person">
                    <a href="<%= urlsData.base + urlsData.personLink.base + urlsData.person[member.person.id].slug + urlsData.personLink.pregled %>" class="portrait column">
                        <img src="https://cdn.parlameter.si/v1/parlassets/img/people/square/<%= String(member.person.gov_id) %>.png" />
                    </a>
                    <div class="column name">
                        <a href="<%= urlsData.base + urlsData.personLink.base + urlsData.person[member.person.id].slug + urlsData.personLink.pregled %>" class="funblue-light-hover"><%= member.person.name %></a><br>
                        <% if (member.person.party.acronym.indexOf('NeP') === -1) { %>
                            <a href="<%= urlsData.base + urlsData.partyLink.base + urlsData.party[member.person.party.id].acronym + urlsData.partyLink.pregled %>" class="funblue-light-hover"><%= member.person.party.acronym %></a>
                        <% } else { %>
                            <%= member.person.party.acronym %>
                        <% } %>
                    </div>
                    <div class="column large-number">
                        <%= String(member.ratio.toFixed(2)).replace('.', ','); %>
                    </div>
                </li>

                <% }) %>
            </ul>
        </div>
        <div class="card-content-info hidden">
            <div class="card-back-content">
                <p class="info-text">
                    Za vsako glasovanje izračunamo "glas poslanske skupine." To naredimo tako, da seštejemo v številke pretvorjene vrednosti vsakega glasovanja za vsakega/-o poslanca/-ko PS in delimo s številom poslancev v PS. Potem izračunamo <a href="https://en.wikipedia.org/wiki/Euclidean_distance">evklidsko razdaljo</a> med rezultati
                    glasovanj poslanske skupine in rezultati vseh poslank in poslancev (pri čemer vrednosti glasov pretvorimo v številčne vrednosti med -1 in 1).
                </p>
                <p class="info-text">
                    Ko izračunamo "razdaljo" med poslansko skupino in vsemi poslanci, jih razvrstimo glede na rezultat in prikažemo zadnjih pet.
                </p>
                <div class="info-text">
                    Številčne vrednosti glasov
                    <ul class="info-text">
                    <li>-1: proti</li>
                    <li>0: vzdržan/-a ali ni prisoten/-na</li>
                    <li>1: za</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-content-embed hidden">
            <div class="card-back-content">
                <div class="embed-content">
                    <div class="embed-divider"></div>
                    <div class="embed-switch-container">
                        <div class="embed-label">Podatki naj se vedno osvežujejo</div>
                        <div class="embed-switch-big-box">
                            <div class="embed-switch-box">
                                <div class="embed-switch">
                                    <div class="embed-switches">
                                        <div class="leftswitch">
                                            DA
                                        </div>
                                        <div class="rightswitch">
                                            NE
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="embed-switch-ball"></div>
                        </div>
                    </div>
                    <div class="embed-divider"></div>
                    <div class="embed-script">
                        <textarea class="form-control" data-id="<%= data.organization.id %>" data-url="https://glej.parlameter.si/<%= cardData.group %>/<%= cardData.method %>/"><script>(function(d,script){script=d.createElement('script');script.type='text/javascript';script.async=true;script.onload=function(){iFrameResize({log:true,checkOrigin:false})};script.src = 'https://cdn.parlameter.si/v1/parlassets/js/iframeResizer.min.js';d.getElementsByTagName('head')[0].appendChild(script);}(document));</script><iframe frameborder="0" width="100%" src="https://glej.parlameter.si/<%= cardData.group %>/<%= cardData.method %>/<%= data.organization.id %>?embed=true&altHeader=true"></textarea>
                        <button class="btn-parlameter btn-full-width btn-blue btn-copy-embed">KOPIRAJ</button>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="card-content-share hidden">
            <div class="card-back-content">
                <div class="share-content">
                    <label for="share-url">Neposredna povezava do kartice</label>
                    <input type="url" class="form-control share-url" id="share-url" value="https://glej.parlameter.si/<%= cardData.group %>/<%= cardData.method %>/<%= data.organization.id %>?frame=true&altHeader=true"/>
                    <button class="btn-parlameter btn-full-width btn-blue">KOPIRAJ</button>
                </div>
            </div>
        </div>
        <!-- delete this placeholder, this is the content of your card -->
    </div>
    <div class="card-footer">
        <div class="card-logo hidden">
                <a href="<%= urlsData.base %>">
                    <img src="https://cdn.parlameter.si/v1/parlassets/img/logo-parlameter.svg" alt="parlameter logo">
                </a>
            </div>

        <div class="card-circle-button card-share" data-back="share"></div>
        <div class="card-circle-button card-embed" data-back="embed"></div>
        <div class="card-circle-button card-info" data-back="info">i</div>
    </div>
</div>
<!-- everything below here is part of the page and not part of the card -->

<!-- your js file is compiled to this and later inlined (must begin with data-inline="true" )-->
<!-- inline temp/js/script.js as <script> -->
<script data-inline="true" src="js/script.js"></script>

</body> <!-- removeme -->

</html> <!-- removeme -->
