<!DOCTYPE html> <!-- removeme -->
<html> <!-- removeme -->

<head> <!-- removeme -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- removeme -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> <!-- removeme -->

    <!-- build:remove -->
    <!-- these script files are removed on build -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/perfect-scrollbar.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/perfect-scrollbar.jquery.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/script.js"></script>
    <!-- endbuild -->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" data-remove="false" data-concat="false"> <!-- removeme -->
    <link rel="stylesheet" href="https://cdn.parlameter.si/v1/parlassets/css/perfect-scrollbar.css" data-remove="false" data-concat="false"> <!-- removeme -->
    <link rel="stylesheet" href="https://cdn.parlameter.si/v1/parlassets/scss/style.css" data-remove="false" data-concat="false"> <!-- removeme -->

    <!-- your css file is compiled to this and later inlined (must begin with data-inline="true" )-->
    <link data-inline="true" rel="stylesheet" href="css/style.css">

    <script>
        var data = <%- JSON.stringify(data); %>
    </script>

</head> <!-- removeme -->

<body> <!-- removeme -->

    <%

        function getParties(data) {

            var parties = [];

            for (person_i in data) {
                if (parties.indexOf(data[person_i].person.party.acronym) === -1) {
                    parties.push(data[person_i].person.party.acronym);
                }
            }

            return parties;
        }

        var parties = getParties(data);

    %>

    <!-- everything above here is part of the page and not part of the card -->
    <div class="card-container card-halfling <%= className %>">
        <div class="card-header">
            <div class="card-header-border"></div>
            <h1>Besedni zaklad</h1>
            <!-- this text is the only thing you touch in .card-header -->
        </div>
        <div class="card-content">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-1">
                    <div class="kompas-search">
                        Search
                    </div>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-11">
                    <div class="kompas-people">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    <div class="kompas-stranke">
                        <% for (party_i in parties) {
                        %>
                            <div class="kompas-stranka <%= parties[party_i].replace(' ', '_') %>" id="partyswitch-<%= parties[party_i].replace(' ', '_') %>">
                                <%= parties[party_i] %>
                            </div>
                        <%
                        }
                        %>
                    </div>
                </div>
                <div class="col-xs-10">
                    <div id="vocabulary-chart"></div>
                </div>
            </div>
            <!-- delete this placeholder, this is the content of your card -->
        </div>
        <div class="card-footer">
            <div class="card-circle-button card-share"></div>
            <div class="card-circle-button card-embed"></div>
            <div class="card-circle-button card-info">i</div>
        </div>
    </div>
    <!-- everything below here is part of the page and not part of the card -->

    <!-- your js file is compiled to this and later inlined (must begin with data-inline="true" )-->
    <!-- inline temp/js/script.js as <script> -->
    <script data-inline="true" src="js/script.js"></script>

</body> <!-- removeme -->

</html> <!-- removeme -->
