<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" data-remove="false" data-concat="false">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" data-remove="false" data-concat="false"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" data-remove="false" data-concat="false"></script>
    <link rel="stylesheet" href="https://cdn.parlameter.si/v1/lib/css/perfect-scrollbar.min.css" data-remove="false" data-concat="false">
    <script src="https://cdn.parlameter.si/v1/lib/js/perfect-scrollbar.min.js" data-remove="false" data-concat="false"></script>


    <!-- these are your (s)css and js files -->
    <link rel="stylesheet" href="scss/style.css" data-prefix="true">
    <script src="js/script.js" data-prefix="true"></script>
    <!-- your extra (s)css and js files should be above this line -->

    <!-- Livereload script for development only (stripped during dist build) -->
    <script src="http://localhost:35729/livereload.js" data-concat="false" data-remove="false"></script>
</head>

<body>


    <!-- everything above here is part of the page and not part of the card -->
    <div class="card-container card-halfling">
        <div class="card-header card-header-embed">
            <div class="headerimage-container">
                <img src="//cdn.parlameter.si/v1/parlassets/img/people/<%= data.person.gov_id %>.png" class="img-responsive img-circle">
                <!-- <img src="//cdn.parlameter.si/v1/img/people/<%= data.person.id %>.png" class="img-responsive img-circle"> -->
            </div>
            <div class="headerwords-container">
                <h1>Osnovne informacije o poslanki <br>&nbsp;</h1> <!-- TODO IF MORE CHARS THAN X THEN LINE BREAK -->
                <h2><span class="name"><%= data.person.name %></span> | <span class="acronym"><%= data.person.party.acronym %></span></h2>
            </div>
            <!-- this text is the only thing you touch in .card-header -->
        </div>
        <div class="card-embed-header-divider"></div>
        <div class="card-content recent-activity">
            <div class="bgwhite poslanec">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#Glasovala_ZA" aria-controls="Glasovala ZA" role="tab" data-toggle="tab">Glasovala ZA</a>
                    </li>
                    <li role="presentation"><a href="#Glasovala_PROTI" aria-controls="Glasovala PROTI" role="tab" data-toggle="tab">Glasovala PROTI</a>
                    </li>
                    <li role="presentation"><a href="#se_VZDRŽALA" aria-controls="se VZDRŽALA" role="tab" data-toggle="tab">se VZDRŽALA</a>
                    </li>
                    <li role="presentation"><a href="#NI_glasovala" aria-controls="NI glasovala" role="tab" data-toggle="tab">NI glasovala</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="Glasovala_ZA">

                        <div class="me_poslanec clearfix">
                            <div class="col150">
                                <span class="poslanec_title"><%= data.person.name %></span>
                            </div>
                            <div class="col280">
                                <div class="progress hugebar ">
                                    <div class="progress-bar red" role="progressbar" aria-valuenow="<%= data.results.for.score %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= data.results.for.score %>%;">
                                        <span class="sr-only"><%= data.results.for.score %></span>
                                    </div>
                                    <div class="progress_number">
                                        <%= data.results.for.score %>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="other_poslanec clearfix">
                            <div class="col150">
                                <span class="poslanec_title">
                                                Opozicijsko povprečje
                                            </span>
                            </div>
                            <div class="col280">
                                <div class="progress smallbar avgmin">
                                    <div class="progress-bar funblue" role="progressbar" aria-valuenow="<%= data.results.for.avgOpposition.score %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= data.results.for.avgOpposition.score %>%;">
                                        <span class="sr-only"><%= data.results.for.avgOpposition.score %></span>
                                    </div>
                                    <div class="progress_number">
                                        <%= data.results.for.avgOpposition.score %>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="other_poslanec clearfix">
                            <div class="col150">
                                <span class="poslanec_title">
                                                Največ v opoziciji
                                            </span>
                            </div>
                            <div class="col280">
                                <div class="progress smallbar avgminmin">
                                    <div class="progress-bar funblue" role="progressbar" aria-valuenow="<%= data.results.for.maxOpposition.mps.score %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= data.results.for.maxOpposition.score %>%;">
                                        <span class="sr-only"><%= data.results.for.maxOpposition.score %></span>
                                    </div>
                                    <div class="avgminimg">
                                        <img src="https://cdn.parlameter.si/v1/img/demo/poslanka.png" class="img-circle" />
                                    </div>
                                    <div class="progress_number">
                                        <%= data.results.for.maxOpposition.score %>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="other_poslanec clearfix">
                            <div class="col150">
                                <span class="poslanec_title">
                                                Koalicijsko povprečje
                                            </span>
                            </div>
                            <div class="col280">
                                <div class="progress smallbar avgmin">
                                    <div class="progress-bar funblue" role="progressbar" aria-valuenow="<%= data.results.for.avgCoalition.score %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= data.results.for.avgCoalition.score %>%;">
                                        <span class="sr-only"><%= data.results.for.avgCoalition.score %></span>
                                    </div>
                                    <div class="progress_number">
                                        <%= data.results.for.avgCoalition.score %>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="other_poslanec clearfix">
                            <div class="col150">
                                <span class="poslanec_title">
                                                Največ v koaliciji
                                            </span>
                            </div>
                            <div class="col280">
                                <div class="progress smallbar avgminmin">
                                    <div class="progress-bar funblue" role="progressbar" aria-valuenow="<%= data.results.for.maxCoalition.score %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= data.results.for.maxCoalition.score %>%;">
                                        <span class="sr-only"><%= data.results.for.maxCoalition.score %></span>
                                    </div>
                                    <div class="avgminimg">
                                        <img src="https://cdn.parlameter.si/v1/img/demo/poslanka.png" class="img-circle" />
                                    </div>
                                    <div class="progress_number">
                                        <%= data.results.for.maxCoalition.score %>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div role="tabpanel" class="tab-pane" id="Glasovala_PROTI">

                        <div class="me_poslanec clearfix">
                            <div class="col150">
                                <span class="poslanec_title"><%= data.person.name %></span>
                            </div>
                            <div class="col280">
                                <div class="progress hugebar ">
                                    <div class="progress-bar red" role="progressbar" aria-valuenow="<%= data.results.against.score %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= data.results.against.score %>%;">
                                        <span class="sr-only"><%= data.results.against.score %></span>
                                    </div>
                                    <div class="progress_number">
                                        <%= data.results.against.score %>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="other_poslanec clearfix">
                            <div class="col150">
                                <span class="poslanec_title">Opozicijsko povprečje</span>
                            </div>
                            <div class="col280">
                                <div class="progress smallbar avgmin">
                                    <div class="progress-bar funblue" role="progressbar" aria-valuenow="<%= data.results.against.avgOpposition.score %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= data.results.against.avgOpposition.score %>%;">
                                        <span class="sr-only"><%= data.results.against.avgOpposition.score %></span>
                                    </div>
                                    <div class="progress_number">
                                        <%= data.results.against.avgOpposition.score %>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="other_poslanec clearfix">
                            <div class="col150">
                                <span class="poslanec_title">Največ v opoziciji</span>
                            </div>
                            <div class="col280">
                                <div class="progress smallbar avgminmin">
                                    <div class="progress-bar funblue" role="progressbar" aria-valuenow="<%= data.results.against.maxOpposition.score %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= data.results.against.maxOpposition.score %>%;">
                                        <span class="sr-only"><%= data.results.against.maxOpposition.score %></span>
                                    </div>
                                    <div class="avgminimg">
                                        <img src="https://cdn.parlameter.si/v1/img/demo/poslanka.png" class="img-circle" />
                                    </div>
                                    <div class="progress_number">
                                        <%= data.results.against.maxOpposition.score %>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="other_poslanec clearfix">
                            <div class="col150">
                                <span class="poslanec_title">
                                                Koalicijsko povprečje
                                            </span>
                            </div>
                            <div class="col280">
                                <div class="progress smallbar avgmin">
                                    <div class="progress-bar funblue" role="progressbar" aria-valuenow="<%= data.results.against.avgCoalition.score %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= data.results.against.avgCoalition.score %>%;">
                                        <span class="sr-only"><%= data.results.against.avgCoalition.score %></span>
                                    </div>
                                    <div class="progress_number">
                                        <%= data.results.against.avgCoalition.score %>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="other_poslanec clearfix">
                            <div class="col150">
                                <span class="poslanec_title">
                                                Največ v koaliciji
                                            </span>
                            </div>
                            <div class="col280">
                                <div class="progress smallbar avgminmin">
                                    <div class="progress-bar funblue" role="progressbar" aria-valuenow="<%= data.results.against.maxCoalition.score %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= data.results.against.maxCoalition.score %>%;">
                                        <span class="sr-only"><%= data.results.against.maxCoalition.score %></span>
                                    </div>
                                    <div class="avgminimg">
                                        <img src="https://cdn.parlameter.si/v1/img/demo/poslanka.png" class="img-circle" />
                                    </div>
                                    <div class="progress_number">
                                        <%= data.results.against.maxCoalition.score %>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div role="tabpanel" class="tab-pane" id="se_VZDRŽALA">

                        <div class="me_poslanec clearfix">
                            <div class="col150">
                                <span class="poslanec_title">
                                                <%= data.person.name %>
                                            </span>
                            </div>
                            <div class="col280">
                                <div class="progress hugebar ">
                                    <div class="progress-bar red" role="progressbar" aria-valuenow="<%= data.results.abstain.score %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= data.results.abstain.score %>%;">
                                        <span class="sr-only"><%= data.results.abstain.score %></span>
                                    </div>
                                    <div class="progress_number">
                                        <%= data.results.abstain.score %>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="other_poslanec clearfix">
                            <div class="col150">
                                <span class="poslanec_title">
                                                Opozicijsko povprečje
                                            </span>
                            </div>
                            <div class="col280">
                                <div class="progress smallbar avgmin">
                                    <div class="progress-bar funblue" role="progressbar" aria-valuenow="<%= data.results.abstain.avgOpposition.score %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= data.results.abstain.avgOpposition.score %>%;">
                                        <span class="sr-only"><%= data.results.abstain.avgOpposition.score %></span>
                                    </div>
                                    <div class="progress_number">
                                        <%= data.results.abstain.avgOpposition.score %>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="other_poslanec clearfix">
                            <div class="col150">
                                <span class="poslanec_title">
                                                Največ v opoziciji
                                            </span>
                            </div>
                            <div class="col280">
                                <div class="progress smallbar avgminmin">
                                    <div class="progress-bar funblue" role="progressbar" aria-valuenow="<%= data.results.abstain.maxOpposition.score %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= data.results.abstain.maxOpposition.score %>%;">
                                        <span class="sr-only"><%= data.results.abstain.maxOpposition.score %></span>
                                    </div>
                                    <div class="avgminimg">
                                        <img src="https://cdn.parlameter.si/v1/img/demo/poslanka.png" class="img-circle" />
                                    </div>
                                    <div class="progress_number">
                                        <%= data.results.abstain.maxOpposition.score %>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="other_poslanec clearfix">
                            <div class="col150">
                                <span class="poslanec_title">
                                                Koalicijsko povprečje
                                            </span>
                            </div>
                            <div class="col280">
                                <div class="progress smallbar avgmin">
                                    <div class="progress-bar funblue" role="progressbar" aria-valuenow="<%= data.results.abstain.avgCoalition.score %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= data.results.abstain.avgCoalition.score %>%;">
                                        <span class="sr-only"><%= data.results.abstain.avgCoalition.score %></span>
                                    </div>
                                    <div class="progress_number">
                                        <%= data.results.abstain.avgCoalition.score %>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="other_poslanec clearfix">
                            <div class="col150">
                                <span class="poslanec_title">
                                                Največ v koaliciji
                                            </span>
                            </div>
                            <div class="col280">
                                <div class="progress smallbar avgminmin">
                                    <div class="progress-bar funblue" role="progressbar" aria-valuenow="<%= data.results.abstain.maxCoalition.score %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= data.results.abstain.maxCoalition.score %>%;">
                                        <span class="sr-only"><%= data.results.abstain.maxCoalition.score %></span>
                                    </div>
                                    <div class="avgminimg">
                                        <img src="https://cdn.parlameter.si/v1/img/demo/poslanka.png" class="img-circle" />
                                    </div>
                                    <div class="progress_number">
                                        <%= data.results.abstain.maxCoalition.score %>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div role="tabpanel" class="tab-pane" id="NI_glasovala">

                        <div class="me_poslanec clearfix">
                            <div class="col150">
                                <span class="poslanec_title">
                                                <%= data.person.name %>
                                            </span>
                            </div>
                            <div class="col280">
                                <div class="progress hugebar ">
                                    <div class="progress-bar red" role="progressbar" aria-valuenow="<%= data.results.absent.score %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= data.results.absent.score %>%;">
                                        <span class="sr-only"><%= data.results.absent.score %></span>
                                    </div>
                                    <div class="progress_number">
                                        <%= data.results.absent.score %>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="other_poslanec clearfix">
                            <div class="col150">
                                <span class="poslanec_title">
                                                Opozicijsko povprečje
                                            </span>
                            </div>
                            <div class="col280">
                                <div class="progress smallbar avgmin">
                                    <div class="progress-bar funblue" role="progressbar" aria-valuenow="<%= data.results.absent.avgOpposition.score %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= data.results.absent.avgOpposition.score %>%;">
                                        <span class="sr-only"><%= data.results.absent.avgOpposition.score %></span>
                                    </div>
                                    <div class="progress_number">
                                        <%= data.results.absent.avgOpposition.score %>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="other_poslanec clearfix">
                            <div class="col150">
                                <span class="poslanec_title">
                                                Največ v opoziciji
                                            </span>
                            </div>
                            <div class="col280">
                                <div class="progress smallbar avgminmin">
                                    <div class="progress-bar funblue" role="progressbar" aria-valuenow="<%= data.results.absent.maxOpposition.score %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= data.results.absent.maxOpposition.score %>%;">
                                        <span class="sr-only"><%= data.results.absent.maxOpposition.score %></span>
                                    </div>
                                    <div class="avgminimg">
                                        <img src="https://cdn.parlameter.si/v1/img/demo/poslanka.png" class="img-circle" />
                                    </div>
                                    <div class="progress_number">
                                        <%= data.results.absent.maxOpposition.score %>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="other_poslanec clearfix">
                            <div class="col150">
                                <span class="poslanec_title">
                                                Koalicijsko povprečje
                                            </span>
                            </div>
                            <div class="col280">
                                <div class="progress smallbar avgmin">
                                    <div class="progress-bar funblue" role="progressbar" aria-valuenow="<%= data.results.absent.avgCoalition.score %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= data.results.absent.avgCoalition.score %>%;">
                                        <span class="sr-only"><%= data.results.absent.avgCoalition.score %></span>
                                    </div>
                                    <div class="progress_number">
                                        <%= data.results.absent.avgCoalition.score %>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="other_poslanec clearfix">
                            <div class="col150">
                                <span class="poslanec_title">
                                                Največ v koaliciji
                                            </span>
                            </div>
                            <div class="col280">
                                <div class="progress smallbar avgminmin">
                                    <div class="progress-bar funblue" role="progressbar" aria-valuenow="<%= data.results.absent.maxCoalition.score %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= data.results.absent.maxCoalition.score %>%;">
                                        <span class="sr-only"><%= data.results.absent.maxCoalition.score %></span>
                                    </div>
                                    <div class="avgminimg">
                                        <img src="https://cdn.parlameter.si/v1/img/demo/poslanka.png" class="img-circle" />
                                    </div>
                                    <div class="progress_number">
                                        <%= data.results.absent.maxCoalition.score %>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>







            </div>
            <!-- delete this placeholder, this is the content of your card -->
        </div>
        <div class="card-footer">
            <div class="card-circle-button card-share"></div>
            <div class="card-circle-button card-embed"></div>
            <div class="card-circle-button card-info">i</div>
        </div>
    </div>
    <!-- everything below here is part of the page and not part of the card -->


    <iframe id="helpframe" src='' height='0' width='0' frameborder='0'></iframe>
</body>

</html>
