<!DOCTYPE html> <!-- removeme -->
<html> <!-- removeme -->

<head> <!-- removeme -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- removeme -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> <!-- removeme -->

    <!-- build:remove -->
    <!-- these script files are removed on build -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/perfect-scrollbar.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/perfect-scrollbar.jquery.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/script.js"></script>
    <!-- endbuild -->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" data-remove="false" data-concat="false"> <!-- removeme -->
    <link rel="stylesheet" href="https://cdn.parlameter.si/v1/parlassets/css/perfect-scrollbar.css" data-remove="false" data-concat="false"> <!-- removeme -->
    <link rel="stylesheet" href="https://cdn.parlameter.si/v1/parlassets/scss/style.css" data-remove="false" data-concat="false"> <!-- removeme -->

    <!-- your css file is compiled to this and later inlined (must begin with data-inline="true" )-->
    <link data-inline="true" rel="stylesheet" href="css/style.css">

</head> <!-- removeme -->

<body> <!-- removeme -->

<!-- https://analize.parlameter.si/v1/s/getLastSessionLanding -->

<script>
    var className = '<%= className %>';
</script>

<div class="card-container card-halfling <%= className %>">
    <div class="card-header">
        <div class="card-header-border"></div>
        <h1>Zadnja seja: <%= data.session.name %></h1>
    </div>
    <div class="card-content" id="">
    <div class="smalldate"><br><%= data.session.date %></div>

        <div class="indexsessionpart seja_transkript clearfix">
            <div class="link"><a href=""><span class="glyphicon glyphicon-comment"></span> Transkript</a></div>





                <%

                var max = 0;
                var min = 100;

                for (var i = 0; i < data.tfidf.results.length; i++) {
                    var word = data.tfidf.results[i];
                    if (Math.round(word['scores']['tf-idf'] * 100) > max) {
                        max = Math.round(word['scores']['tf-idf'] * 100);
                    } else if (+word['scores']['tf-idf'] < min) {
                        min = Math.round(word['scores']['tf-idf'] * 100);
                    }
                }

                var diff = max - min;

                var offset = 120;

                %>

                <div class="halfer-container">

                    <div class="halfer">

                        <%

                        for (var i=0; i < 5; i++) {
                            var word = data.tfidf.results[i];
                            word.score = Math.round(word['scores']['tf-idf'] * 100);
                        %>

                        <div class="me_poslanec clearfix tfidf-bar">

                            <div class="term">
                                <span class="poslanec_title">
                                                <%= word.term %>
                                            </span>
                            </div>
                            <div class="frequency">
                                <div class="progress hugebar2 avgmin">
                                    <div class="progress-bar funblue" role="progressbar" aria-valuenow="<%= word.score %>" aria-valuemin="0" aria-valuemax="<%= max %>" style="width: <%= word.score / max * 100 > 1 ? word.score / max * 100 : 1 %>%;">
                                        <span class="sr-only"><%= word.score %></span>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <%
                        }
                        %>

                    </div>

                    <div class="halfer">

                        <%

                        for (var i=5; i < 10; i++) {
                            var word = data.tfidf.results[i];
                            word.score = Math.round(word['scores']['tf-idf'] * 100);
                        %>

                        <div class="me_poslanec clearfix tfidf-bar">

                            <div class="term">
                                <span class="poslanec_title">
                                                <%= word.term %>
                                            </span>
                            </div>
                            <div class="frequency">
                                <div class="progress hugebar2 avgmin">
                                    <div class="progress-bar funblue" role="progressbar" aria-valuenow="<%= word.score %>" aria-valuemin="0" aria-valuemax="<%= max %>" style="width: <%= word.score / max * 100 > 1 ? word.score / max * 100 : 1 %>%;">
                                        <span class="sr-only"><%= word.score %></span>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <%
                        }
                        %>

                    </div>


            </div>
        </div>

        <div class="indexsessionpart clearfix">
            <div class="link"><a href=""><span class="glyphicon glyphicon-comment"></span> Prisotnost</a></div>
            <%
            var presence = data.presence;
            var stPgs = (presence.length > 7) ? "11.3" : "13.1";
            var stPgs0 = (presence.length > 7) ? "popgoptmin" : "popgoptmax";

            %>

            <div class="card-placeholder bgwhite presence-of-pg <%=stPgs0%>" style="">
                <%

                var colors = {
                    ["id1"]: '#91d0ed',
                    ["id2"]: '#b8584b',
                    ["id3"]: '#5287a8',
                    ["id4"]: '3!',
                    ["id5"]: '#23a3de',
                    ["id6"]: '#b58889',
                    ["id7"]: '#4f6378',
                    ["id8"]: '#857799',
                    ["id97"]: '#d9776c',
                };
                %>
                <div class="pspris-clearfix">
                    <% for (ps in presence) { %>

                    <div class="pspris-container">
                        <div class="pspris">
                            <span><%= presence[ps].percent %> %</span>
                            <font><%= presence[ps].org.acronym %></font>
                            <div class="" style="">
                                <div class="border" style="width: <%= presence[ps].percent %>%; background-color: <%=colors['id' + presence[ps].org.id]%>;"></div>
                            </div>
                        </div>
                    </div>


                    <%  }%>
                </div>
            </div>


        </div>

        <div class="indexsessionpart clearfix">
            <div class="link"><a href=""><span class="glyphicon glyphicon-comment"></span> Glasovanja</a></div>


                <div  id="votingCard">

                    <div id="scrollbar-voting-card<%=Math.floor(Math.random() * 10000); %>" class="scroller session_voting">

                        <% for (var i = 0; i < data.motions.length ; i++) { %>
<% var motion = data.motions[i].results;  %>
                        <% var rnd = (Math.floor((Math.random() * 2)) == 1); %>
                        <% var ayeney = rnd ? "aye" : "nay"; %>
                        <% var ayeneygly = rnd ? "glyphicon-ok" : "glyphicon-remove"; %>


                        <% var ayeney = (motion.result == true)  ? "aye" : "nay"; %>
                        <% var ayeneygly = (motion.result == true) ? "glyphicon-ok" : "glyphicon-remove"; %>



                        <%
                            var allInVotes = motion.votes_for + motion.against + motion.abstain +motion.not_present;
                            var percent_votes_for = Math.floor( (motion.votes_for / allInVotes) * 100) ;
                            var percent_against = Math.floor( (motion.against / allInVotes) * 100);
                            var percent_abstain = Math.floor( (motion.abstain / allInVotes) * 100);
                            var percent_not_present = Math.floor( (motion.not_present / allInVotes) * 100);

                            var resulttext = '';
                            if(motion.text.length > 180){
                                resulttext = motion.text.substring(0, 180) + "...";
                            }else{
                                resulttext = motion.text;
                            }
                        %>


                        <div class="clearfix single_voting">
                            <a href="/seja/glasovanje/<%=data.motions[i].session.id%>/<%=motion.motion_id%>">
                                <div class=" col-md-1 ">
                                    <div class="accepted <%= ayeney %> ">
                                        <p>
                                        <i class="glyphicon <%=ayeneygly%> "></i>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-11 border-left ">
                                    <div class="col-md-6 ">
                                        <div class="session_title ">
                                            <p><%=resulttext %></p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="session_votes ">
                                            <div class="progress smallbar ">
                                                <div class="progress-bar fontblue " style="width: <%= percent_votes_for %>% ">
                                                    <span class="sr-only "><%= percent_votes_for %>% Complete (success)</span>
                                                </div>
                                                <div class="progress-bar funblue " style="width: <%= percent_against %>% ">
                                                    <span class="sr-only "><%= percent_against %>% Complete (warning)</span>
                                                </div>
                                                <div class="progress-bar ignoreblue " style="width: <%= percent_abstain %>% ">
                                                    <span class="sr-only "><%= percent_abstain %>% Complete (danger)</span>
                                                </div>
                                                <div class="progress-bar noblue " style="width: <%= percent_not_present %>% ">
                                                    <span class="sr-only "><%= percent_not_present %>% Complete (danger)</span>
                                                </div>
                                            </div>
                                            <div class="row ">
                                                <div class="col-xs-3 ">
                                                    <%= motion.votes_for %>
                                                    <div class="type ">Za</div>
                                                    <div class="indicator aye ">&nbsp;</div>
                                                </div>
                                                <div class="col-xs-3 ">
                                                    <%= motion.against %>
                                                    <div class="type ">Proti</div>
                                                    <div class="indicator ney ">&nbsp;</div>
                                                </div>
                                                <div class="col-xs-3 ">
                                                    <%= motion.abstain %>
                                                    <div class="type ">Vzdržan</div>
                                                    <div class="indicator abstention ">&nbsp;</div>
                                                </div>
                                                <div class="col-xs-3 ">
                                                    <%= motion.not_present %>
                                                    <div class="type ">Niso</div>
                                                    <div class="indicator not ">&nbsp;</div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </a>
                        </div>

                        <% }%>

                    </div>




            </div>
        </div>



    </div>
    <div class="card-footer">
        <div class="card-circle-button card-share"></div>
        <div class="card-circle-button card-embed"></div>
        <div class="card-circle-button card-info">i</div>
    </div>
</div>

    <!-- everything below here is part of the page and not part of the card -->

    <!-- your js file is compiled to this and later inlined (must begin with data-inline="true" )-->
    <!-- inline temp/js/script.js as <script> -->
    <script data-inline="true" src="js/script.js"></script>

</body> <!-- removeme -->

</html> <!-- removeme -->
