<!DOCTYPE html> <!-- removeme -->
<html> <!-- removeme -->

<head> <!-- removeme -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- removeme -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> <!-- removeme -->

    <!-- build:remove -->
    <!-- these script files are removed on build -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/perfect-scrollbar.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/perfect-scrollbar.jquery.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/script.js"></script>
    <!-- endbuild -->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" data-remove="false" data-concat="false"> <!-- removeme -->
    <link rel="stylesheet" href="https://cdn.parlameter.si/v1/parlassets/css/perfect-scrollbar.css" data-remove="false" data-concat="false"> <!-- removeme -->
    <link rel="stylesheet" href="https://cdn.parlameter.si/v1/parlassets/scss/style.css" data-remove="false" data-concat="false"> <!-- removeme -->

    <!-- your css file is compiled to this and later inlined (must begin with data-inline="true" )-->
    <link data-inline="true" rel="stylesheet" href="css/style.css">

</head> <!-- removeme -->

<body> <!-- removeme -->

    <script>var data = <%- JSON.stringify(data); %></script>

    <!-- everything above here is part of the page and not part of the card -->
    <div class="card-container card-halfling <%= className %>">
        <div class="card-header">
            <div class="card-header-border"></div>
            <h1>Glasovanje o Zakonu o ratifikaciji Sporazuma o pridružitvi med Evropsko unijo in Evropsko skupnostjo za atomsko energijo in njunimi državami članicami na eni strani ter Ukrajino na drugi strani</h1> <!-- this text is the only thing you touch in .card-header -->
        </div>
        <div class="card-content">

            <div class="row">
                <div class="col-xs-12">
                    <span class="slab">Dokumenti: </span><a href="https://parlameter.si" target="_blank" class="document">pdf</a>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="greybox">
                        <div class="legend-container">
                            <div class="option za">
                                <div class="option-marker option-marker-za"></div>
                                <div class="option-text">
                                    <div class="option-number">
                                        30
                                    </div>
                                    <div class="option-option">
                                        ZA
                                    </div>
                                </div>
                            </div>

                            <div class="option proti">
                                <div class="option-marker option-marker-proti"></div>
                                <div class="option-text">
                                    <div class="option-number">
                                        30
                                    </div>
                                    <div class="option-option">
                                        PROTI
                                    </div>
                                </div>
                            </div>

                            <div class="option vzdrzani">
                                <div class="option-marker option-marker-vzdrzani"></div>
                                <div class="option-text">
                                    <div class="option-number">
                                        30
                                    </div>
                                    <div class="option-option">
                                        VZDRŽANI
                                    </div>
                                </div>
                            </div>

                            <div class="option niso">
                                <div class="option-marker option-marker-niso"></div>
                                <div class="option-text">
                                    <div class="option-number">
                                        30
                                    </div>
                                    <div class="option-option">
                                        NISO
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="status-container">
                            <span class="slab">Status predloga: </span><div class="status"><span class="status-text">ZAVRNJEN</span><i class="status-icon glyphicon glyphicon-remove"></i></div>
                        </div>
                        <div class="required-majority">
                            <span class="slab">Potrebna večina: <strong>60</strong></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="layeredchart"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <%
                    var second_level_data = [];
                    for (option in data.all) {
                        for (party in data.all[option]['breakdown']) {
                            // newdict = data.all[option]['breakdown'][party];
                            // newdict['option'] = data.all[option]['option'];

                            var newdict = data.all[option]['breakdown'][party];
                            newdict.option = option;

                            second_level_data.push(newdict);

                        }
                    }
                    %>
                    <% for (group in second_level_data) { %>
                        <div class="mpgroup hidden <%= second_level_data[group]['option']%> <%= second_level_data[group]['pg']['acronym'].replace(' ', '_') %>">
                            <% for (mp in second_level_data[group]['mps']) { %>
                                <div class="member">
                                    <div class="metadata">
                                        <div class="image" style="background-image: url(https://cdn.parlameter.si/v1/parlassets/img/people/square/<%= second_level_data[group]['mps'][mp]['gov_id'] %>.png); background-size: cover;"></div>
                                        <p class="name">
                                            <%= second_level_data[group]['mps'][mp]['name'] %>
                                        </p>
                                        <p class="party">
                                            <%= second_level_data[group]['mps'][mp]['party']['acronym'] %>
                                        </p>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    <% } %>
                </div>
            </div>

        </div>
        <div class="card-footer">
            <div class="card-circle-button card-share"></div>
            <div class="card-circle-button card-embed">&lt;/&gt;</div>
            <div class="card-circle-button card-info">i</div>
        </div>
    </div>
    <!-- everything below here is part of the page and not part of the card -->

    <!-- your js file is compiled to this and later inlined (must begin with data-inline="true" )-->
    <!-- inline temp/js/script.js as <script> -->
    <script data-inline="true" src="js/script.js"></script>

</body> <!-- removeme -->

</html> <!-- removeme -->
