<!DOCTYPE html> <!-- removeme -->
<html> <!-- removeme -->

<head> <!-- removeme -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- removeme -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> <!-- removeme -->

    <!-- build:remove -->
    <!-- these script files are removed on build -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/script.js"></script>
    <!-- endbuild -->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" data-remove="false" data-concat="false"> <!-- removeme -->
    <link rel="stylesheet" href="https://cdn.parlameter.si/v1/parlassets/scss/style.css" data-remove="false" data-concat="false"> <!-- removeme -->

    <!-- your css file is compiled to this and later inlined (must begin with data-inline="true" )-->
    <link data-inline="true" rel="stylesheet" href="css/style.css">

    <%
    function formatDate(isoDate) {
      var date = new Date(isoDate);
      return `${date.getDate()}. ${date.getMonth() + 1}. ${date.getFullYear()}`
    }

    data.sessions = data.sessions
      .sort(function(a, b) {
        return a.date_ts > b.date_ts ? -1 : (a.date_ts < b.date_ts ? 1 : 0);
      })
      .filter(function(session) {
        if (!state.filters) {
          return true;
        }
        else if (state.filters && state.filters.indexOf('Seje DZ') > -1 && session.org.id === 95) {
          return true;
        }
        else if (state.filters && state.filters.indexOf('Seje kolegija predsednika DZ') > -1 && session.org.id === 9) {
          return true;
        }
        else if (state.filters && state.filters.indexOf('Seje delovnih teles') > -1) {
          if (state.workingBodies.length === 0) {
            return session.org.id !== 9 && session.org.id !== 95;
          }
          else {
            return state.workingBodies.indexOf(String(session.org.id)) > -1;
          }
        }
        return false;
      })
      .filter(function(session, index) {
        return !state.onlyLatest || index < 5;
      })
    %>

    <script>
      var seznamSejData = <%- JSON.stringify(data); %>;
    </script>
</head> <!-- removeme -->

<body> <!-- removeme -->
    <div style="width: 980px; margin: 30px auto;">

    <!-- everything above here is part of the page and not part of the card -->
    <div class="card-container card-halfling <%= className %>">
        <div class="card-header">
            <div class="card-header-border"></div>
            <h1>Seznam sej</h1> <!-- this text is the only thing you touch in .card-header -->
        </div>
        <div class="card-content">
          <div class="card-content-front">
            <ul class="session-list">
              <li class="headers">
                <div data-sort="name" class="column wider">Ime</div>
                <div data-sort="date" class="column sort reverse">Začetek</div>
                <div data-sort="updated" class="column optional">Sprememba</div>
                <div data-sort="workingBody" class="column wider optional">Organizacija</div>
              </li>
              <% if (data.sessions.length === 0) { %>
                <div class="no-results">Brez rezultatov.</div>
              <% } else { %>
                <% data.sessions.forEach(function(session, index) { %>
                <li class="item" data-index="<%= index %>">
                  <a class="column image" href="<%= urlsData.base + urlsData.sessionLink.transkript + session.id %>">
                    <img src="https://cdn.parlameter.si/v1/parlassets/icons/seja-<%= session.name.split(' ')[1] %>.svg" alt="parlameter logo">
                  </a>
                  <div class="column wider name">
                    <a class="funblue-light-hover" href="<%= urlsData.base + urlsData.sessionLink.transkript + session.id %>"><%= session.name %></a>
                  </div>
                  <div class="column"><%= formatDate(session.date_ts) %></div>
                  <div class="column optional"><%= formatDate(session.updated_at_ts) %></div>
                  <div class="column wider optional">
                    <a class="funblue-light-hover" href="https://glej.parlameter.si/wb/getWorkingBodies/<%= session.org.id %>?frame=true&altHeader=true"><%= session.org.name %></a>
                  </div>
                </li>
                <% }) %>
              <% } %>
            </ul>
          </div>
        </div>
        <div class="card-footer">
                <div class="card-logo hidden">
                     <a href="<%= urlsData.base %>">
                         <img src="https://cdn.parlameter.si/v1/parlassets/img/logo-parlameter.svg" alt="parlameter logo">
                     </a>
                 </div>

            <div class="card-circle-button card-share"></div>
            <div class="card-circle-button card-embed"></div>
            <div class="card-circle-button card-info">i</div>
        </div>
    </div>
    <!-- everything below here is part of the page and not part of the card -->

    </div>
    <!-- your js file is compiled to this and later inlined (must begin with data-inline="true" )-->
    <!-- inline temp/js/script.js as <script> -->
    <script data-inline="true" src="js/script.js"></script>

</body> <!-- removeme -->

</html> <!-- removeme -->
