<!DOCTYPE html> <!-- removeme -->
<html> <!-- removeme -->

<head> <!-- removeme -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- removeme -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> <!-- removeme -->

    <!-- build:remove -->
    <!-- these script files are removed on build -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/script.js"></script>
    <!-- endbuild -->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" data-remove="false" data-concat="false"> <!-- removeme -->
    <link rel="stylesheet" href="https://cdn.parlameter.si/v1/parlassets/scss/style.css" data-remove="false" data-concat="false"> <!-- removeme -->

    <!-- your css file is compiled to this and later inlined (must begin with data-inline="true" )-->
    <link data-inline="true" rel="stylesheet" href="css/style.css">

</head> <!-- removeme -->

<body> <!-- removeme -->

    <script>var data = <%- JSON.stringify(data); %></script>
    <script>
        var isMSIE = false;
        if (navigator.appName == 'Microsoft Internet Explorer' ||  !!(navigator.userAgent.match(/Trident/) || navigator.userAgent.match(/rv 11/)) || $.browser.msie == 1) {
            isMSIE = true;
        }
    </script>

    <!-- everything above here is part of the page and not part of the card -->
    <div class="card-container card-halfling <%= className %>" data-id="<%= cardData.group %>/<%= cardData.method %>">
        <div class="card-header">
            <div class="card-header-border"></div>
            <h1><%= data.name %></h1> <!-- this text is the only thing you touch in .card-header -->
        </div>
        <div class="card-content">
            <div class="card-content-front">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="greybox">
                            <div class="legend-container">
                                <div class="option za" data-option="for">
                                    <div class="option-text">
                                        <div class="option-number"><%= data.all.for.total_votes %></div>
                                        <div class="option-option">za</div>
                                    </div>
                                </div>

                                <div class="option proti" data-option="against">
                                    <div class="option-text">
                                        <div class="option-number"><%= data.all.against.total_votes %></div>
                                        <div class="option-option">proti</div>
                                    </div>
                                </div>

                                <div class="option vzdrzani" data-option="kvorum">
                                    <div class="option-text">
                                        <div class="option-number"><%= data.all.kvorum.total_votes %></div>
                                        <div class="option-option">vzdržani</div>
                                    </div>
                                </div>

                                <div class="option niso" data-option="not_present">
                                    <div class="option-text">
                                        <div class="option-number"><%= data.all.not_present.total_votes %></div>
                                        <div class="option-option">niso</div>
                                    </div>
                                </div>
                            </div>
                            <div class="right-container">
                                <div class="status-container">
                                    <span class="slab">Status predloga:&nbsp;</span><div class="status"><span class="status-text"><% if (data.result) { %> SPREJET <% } else { %> ZAVRNJEN <% } %></span><i class="status-icon glyphicon <% if (data.result) { %> glyphicon-ok <% } else { %> glyphicon-remove <% } %>"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="hidden-xs col-sm-6">
                        <div class="layeredchart"></div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="people-ballots">
                            <%
                            var second_level_data = [];
                            for (option in data.all) {
                                for (party in data.all[option]['breakdown']) {

                                    var newdict = data.all[option]['breakdown'][party];
                                    newdict.option = option;

                                    second_level_data.push(newdict);

                                }
                            }
                            %>
                            <% for (group in second_level_data) { %>
                                <div class="mpgroup <%= second_level_data[group]['option']%> <%= second_level_data[group]['pg']['acronym'].replace(' ', '_') %>">
                                    <ul class="person-list">
                                    <% for (mp in second_level_data[group]['mps']) { %>
                                        <li class="person">
                                            <a href="" class="portrait column">
                                                <img src="https://cdn.parlameter.si/v1/parlassets/img/people/square/<%= second_level_data[group]['mps'][mp]['gov_id'] %>.png">
                                            </a>
                                            <div class="column name">
                                                <a href="<%= urlsData.base %><%= urlsData.personLink.base %><%= urlsData.person[second_level_data[group]['mps'][mp].id].slug %><%=urlsData.personLink.pregled%>" class="funblue-light-hover"><%= second_level_data[group]['mps'][mp]['name'] %></a>
                                                <br/>
                                                <% if (second_level_data[group]['mps'][mp]['party']['acronym'].indexOf('NeP') === -1) { %>
                                                    <a href="<%=urlsData.base + urlsData.partyLink.base + urlsData.party[second_level_data[group]['mps'][mp]['party']['id']].acronym + urlsData.partyLink.pregled %>" class="funblue-light-hover"><%= second_level_data[group]['mps'][mp]['party']['acronym'] %></a>
                                                <% } else { %>
                                                    <%= second_level_data[group]['mps'][mp]['party']['acronym'] %>
                                                <% } %>
                                            </div>
                                            <%
                                                var option;
                                                switch (second_level_data[group]['option']){
                                                    case 'for':
                                                        option = 'za';
                                                        break;
                                                    case 'against':
                                                        option = 'proti';
                                                        break;
                                                    case 'kvorum':
                                                        option = 'vzdrzan';
                                                        break;
                                                    case 'not_present':
                                                        option = 'ni';
                                                        break;
                                                }
                                            %>
                                            <div class="vote-icon <%= option %> column"></div>
                                        </li>
                                    <% } %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-content-info hidden">
                <div class="card-back-content">
                    <p class="info-text lead">
                        Pregled rezultatov glasovanja.
                    </p>
                    <p class="info-text heading">
                        METODOLOGIJA
                    </p>
                    <p class="info-text">
                        Glasovanja najprej združimo glede na vrednost glasovnice (ZA, PROTI, VZDRŽAN/-A, NI GLASOVAL/-A), nato pa znotraj teh kategorij poslance razdelimo še po poslanskih skupinah. Rezultat glasovanja izrišemo v interaktivnem krožnem diagramu.
                    </p>
                    <p class="info-text">
                        Rezultat glasovanja pridobimo s spletnega mesta <a href="https://www.dz-rs.si/wps/portal/Home/deloDZ/seje/sejeDrzavnegaZbora/PoDatumuSeje" target="_blank" class="funblue-light-hover">DZ RS</a>.
                    </p>
                </div>
            </div>
            <div class="card-content-embed hidden">
                <div class="card-back-content">
                    <div class="embed-content">
                        <div class="embed-divider"></div>
                        <div class="embed-switch-container">
                            <div class="embed-label">Podatki naj se vedno osvežujejo</div>
                            <div class="embed-switch-big-box">
                                <div class="embed-switch-box">
                                    <div class="embed-switch">
                                        <div class="embed-switches">
                                            <div class="leftswitch">
                                                DA
                                            </div>
                                            <div class="rightswitch">
                                                NE
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="embed-switch-ball"></div>
                            </div>
                        </div>
                        <div class="embed-divider"></div>
                        <div class="embed-script">
                            <textarea class="form-control" data-id="<%= data.id %>" data-url="https://glej.parlameter.si/<%= cardData.group %>/<%= cardData.method %>/"><script>(function(d,script){script=d.createElement('script');script.type='text/javascript';script.async=true;script.onload=function(){iFrameResize({log:true,checkOrigin:false})};script.src = 'https://cdn.parlameter.si/v1/parlassets/js/iframeResizer.min.js';d.getElementsByTagName('head')[0].appendChild(script);}(document));</script><iframe frameborder="0" width="100%" src="https://glej.parlameter.si/<%= cardData.group %>/<%= cardData.method %>/<%= data.id %>?embed=true&altHeader=true"></textarea>
                            <button class="btn-parlameter btn-full-width btn-blue btn-copy-embed">KOPIRAJ</button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card-content-share hidden">
                <div class="card-back-content">
                    <div class="share-content">
                        <label for="share-url">Neposredna povezava do kartice</label>
                        <input type="url" class="form-control share-url" id="share-url" value="https://glej.parlameter.si/<%= cardData.group %>/<%= cardData.method %>/<%= data.id %>?frame=true&altHeader=true"/>
                        <button class="btn-parlameter btn-full-width btn-blue">KOPIRAJ</button>
                    </div>
                </div>
            </div>
            <!-- delete this placeholder, this is the content of your card -->
        </div>
        <div class="card-footer">
                <div class="card-logo hidden">
                        <a href="<%= urlsData.base %>">
                            <img src="https://cdn.parlameter.si/v1/parlassets/img/logo-parlameter.svg" alt="parlameter logo">
                        </a>
                    </div>

            <div class="card-circle-button card-share" data-back="share"></div>
            <div class="card-circle-button card-embed" data-back="embed"></div>
            <div class="card-circle-button card-info" data-back="info">i</div>
        </div>
    </div>
    <!-- everything below here is part of the page and not part of the card -->

    <!-- your js file is compiled to this and later inlined (must begin with data-inline="true" )-->
    <!-- inline temp/js/script.js as <script> -->
    <script data-inline="true" src="js/script.js"></script>

</body> <!-- removeme -->

</html> <!-- removeme -->
