<!DOCTYPE html> <!-- removeme -->
<html> <!-- removeme -->

<head> <!-- removeme -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/> <!-- removeme -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- removeme -->

    <!-- build:remove -->
    <!-- these script files are removed on build -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/perfect-scrollbar.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/perfect-scrollbar.jquery.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/script.js"></script>
    <!-- endbuild -->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"
          data-remove="false" data-concat="false"> <!-- removeme -->
    <link rel="stylesheet" href="https://cdn.parlameter.si/v1/parlassets/css/perfect-scrollbar.css" data-remove="false"
          data-concat="false"> <!-- removeme -->
    <link rel="stylesheet" href="https://cdn.parlameter.si/v1/parlassets/scss/style.css" data-remove="false"
          data-concat="false"> <!-- removeme -->

    <!-- your css file is compiled to this and later inlined (must begin with data-inline="true" )-->
    <link data-inline="true" rel="stylesheet" href="css/style.css">

</head> <!-- removeme -->

<body> <!-- removeme -->

<!-- https://analize.parlameter.si/v1/pg/getWorkingBodies/22 -->
<!-- everything above here is part of the page and not part of the card -->
<div class="card-container card-halfling">
    <div class="card-header">
        <div class="card-header-border"></div>
        <h1>Delovno telo komisija odbor</h1> <!-- this text is the only thing you touch in .card-header -->
    </div>

    <div class="session-container">

        <div class="row">
            <div class="col-md-12">
                <div class="card-container">

                    <div class="paneltab border-right col-md-4">
                        <h2>Osnovne informacije</h2>
                        <%   %>

                        <div class="member row">
                            <div class="col-xs-4 image respo">

                                <img class="media-object img-circle img-responsive"
                                     src="https://cdn.parlameter.si/v1/parlassets/img/people/square/<%= data.info.president.gov_id %>.png"
                                     alt=""/>
                            </div>
                            <div class="col-xs-8 member_data">
                                <h3>
                                    <%= data.info.president.name %>
                                </h3>
                                <h4>
                                    <%
                                        var title = "Predsednik";
                                        if (data.info.president.gender == "f") {
                                            title = "Predsednica";
                                        } else {

                                        } %>
                                    <%= title %>
                                </h4>
                            </div>
                        </div>
                        <%  %>

                        <% for(item in data.info.vice_president){ %>

                        <div class="member row">
                            <div class="col-xs-4 image respo">

                                <img class="media-object img-circle img-responsive"
                                     src="https://cdn.parlameter.si/v1/parlassets/img/people/square/<%= data.info.vice_president[item].gov_id %>.png"
                                     alt=""/>
                            </div>
                            <div class="col-xs-8 member_data">
                                <h3>
                                    <%= data.info.vice_president[item].name %>
                                </h3>
                                <h4>
                                    <%
                                        var title = "Podpredsednik";
                                        if (data.info.vice_president[item].gender == "f") {
                                            title = "Podpredsednica";
                                        } else {

                                        } %>
                                    <%= title %></h4>
                            </div>
                        </div>
                        <% } %>

                        <div class="clearfix">
                            <h2>Člani in članice</h2>
                            <div class="session_other_members">
                                <% for(item in data.info.members){ %>
                                <a href="<%= data.info.members[item].gov_id %>" title="<%= data.info.members[item].name %>">
                                <img class="img-circle"
                                     src="https://cdn.parlameter.si/v1/parlassets/img/people/square/<%= data.info.members[item].gov_id %>.png"
                                     alt="<%= data.info.members[item].name %>"/>
                                    </a>
                                <% } %>
                            </div>
                        </div>
                    </div>

                    <div class="paneltab border-right col-md-4">
                        <h2>Razmerje med koalicijo in opozicijo</h2>

                        <div class="progress hugebar">
                            <div class="progress-bar funblue" style="width: <%=data.ratio.coalition %>%">
                                <div class="cptin">K</div>
                                <span class="sr-only"><%=data.ratio.coalition %>% Complete (success)</span>
                            </div>
                            <div class="progress-bar red" style="width: <%=data.ratio.opposition %>%">
                                <div class="cptin">O</div>
                                <span class="sr-only"><%=data.ratio.opposition %>% Complete (danger)</span>
                            </div>
                        </div>


                        <h2>Število sedežev</h2>
                        <% for(item in data.seats_per_pg){
                        var opocoaColor = "funblue";
                            if(data.seats_per_pg[item].coalition == "opposition"){
                                opocoaColor = "red";
                            }
                            var index = 0;
                            var indexInPercent = 0;
                        %>
                        <div class="other_poslanec clearfix">
                            <div class="col150">
                                <span class="poslanec_title">
                                        <%=data.seats_per_pg[item].party.name %>
                                    </span>
                            </div>
                            <div class="col280">
                                <div class="progress smallbar avgmin">
                                    <div style="width: <%=indexInPercent %>%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="<%=indexInPercent %>"
                                         role="progressbar" class="progress-bar <%=opocoaColor%>">
                                        <span class="sr-only"><%=indexInPercent %>% Complete</span>
                                    </div>
                                    <div class="progress_number">
                                        <%=data.seats_per_pg[item].seats %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>

                    </div>

                    <div class="paneltab col-md-4">
                        <h2>Seje</h2>

                        <div class="sessionsGetSessionByDate">

                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="lfb0">

                                    <ul>
<% for(item in data.sessions){ %>




                                        <li class="row">
                                            <span class="date col-sm-3"><%= data.sessions[item].id%></span>
                                            <p class=" col-sm-9"><a href="#">Govorila</a> na <a href="#"><%= data.sessions[item].name%></a></p>
                                        </li>
                                        <% } %>

                                    </ul>

                                </div>
                                <div role="tabpanel" class="tab-pane " id="lfb1">
                                    <ul>

                                        <% for(item in data.sessions){ %>

                                        <li class="row">
                                            <span class="date col-sm-3"><%= data.sessions[item].id%></span>
                                            <p class=" col-sm-9"><a href="#">Govorila</a> na <a href="#"><%= data.sessions[item].name%></a></p>
                                        </li>
                                        <% } %>

                                    </ul>
                                </div>

                            </div>
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#lfb0" aria-controls="lfb0" role="tab"
                                                                          data-toggle="tab">&#8226;
                                    </a>
                                </li>
                                <li role="presentation" class=""><a href="#lfb1" aria-controls="lfb1" role="tab"
                                                                    data-toggle="tab">&#8226;
                                    </a>
                                </li>

                            </ul>


                        </div>

                    </div>

                </div>
            </div>
        </div>


    </div>

    <div class="card-footer">
        <div class="card-circle-button card-share"></div>
        <div class="card-circle-button card-embed">&lt;/&gt;</div>
        <div class="card-circle-button card-info">i</div>
    </div>
</div>
<!-- everything below here is part of the page and not part of the card -->

<!-- your js file is compiled to this and later inlined (must begin with data-inline="true" )-->
<!-- inline temp/js/script.js as <script> -->
<script data-inline="true" src="js/script.js"></script>

</body> <!-- removeme -->

</html> <!-- removeme -->
