<!DOCTYPE html> <!-- removeme -->
<html> <!-- removeme -->

<head> <!-- removeme -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- removeme -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> <!-- removeme -->

    <!-- build:remove -->
    <!-- these script files are removed on build -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/perfect-scrollbar.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/perfect-scrollbar.jquery.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/script.js"></script>
    <!-- endbuild -->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" data-remove="false" data-concat="false"> <!-- removeme -->
    <link rel="stylesheet" href="https://cdn.parlameter.si/v1/parlassets/css/perfect-scrollbar.css" data-remove="false" data-concat="false"> <!-- removeme -->
    <link rel="stylesheet" href="https://cdn.parlameter.si/v1/parlassets/scss/style.css" data-remove="false" data-concat="false"> <!-- removeme -->

    <!-- your css file is compiled to this and later inlined (must begin with data-inline="true" )-->
    <link data-inline="true" rel="stylesheet" href="css/style.css">

    <script>
      <% data.data = data.data.filter(function(member) {
        var partyMatch = true,
        districtMatch = true;

        if (state.parties) {
          stringToMatch = member.person.party.acronym;
          if (stringToMatch.indexOf('NeP') > -1) {
            stringToMatch = 'NeP';
          }
          partyMatch = state.parties.indexOf(stringToMatch) > -1;
        }
        if (state.districts) {
          districtMatch = member.person.district.reduce(function(prevMatch, memberDistrict) {
            return prevMatch || state.districts.indexOf(String(memberDistrict)) > -1;
          }, false);
        }

        return partyMatch && districtMatch;
      }).map(function(member) {
        if (member.person.district.length === 0) {
          member.person.formattedDistrict = 'okraj ni vnešen';
        }
        else {
          member.person.formattedDistrict = member.person.district.map(function(memberDistrict) {
            var matchingDistrict = data.districts.filter(function(district) {
              return Object.keys(district)[0] === String(memberDistrict);
            })[0];
            return matchingDistrict[String(memberDistrict)];
          }).join(', ');
        }

        return member;
      }); %>
      var seznamPoslancevData = <%- JSON.stringify(data); %>;
      var seznamPoslancevState = <%- JSON.stringify(state); %>;
    </script>
</head> <!-- removeme -->

<body> <!-- removeme -->

    <% var columns = {
      presence_sessions: {
        label: 'Prisotnost na sejah DZ',
        unit: 'percent',
        round: true
      },
      presence_votes: {
        label: 'Prisotnost na glasovanjih sej DZ',
        unit: 'percent',
        round: true
      },
      vocabulary_size: {
        label: 'Besedni zaklad'
      },
      spoken_words: {
        label: 'Št. izgovorjenih besed'
      },
      speeches_per_session: {
        label: 'Št. govorov na sejo'
      },
      privzdignjeno: {
        label: 'Privzdignjeno besedje',
        scientific: true
      },
      preprosto: {
        label: 'Preprosto besedje',
        round: true
      },
      problematicno: {
        label: 'Ekscesno besedje',
        round: true
      }
    }; %>

    <!-- everything above here is part of the page and not part of the card -->
    <div class="card-container card-halfling <%= className %>">
        <div class="card-header">
            <div class="card-header-border"></div>
            <h1>Seznam poslancev</h1> <!-- this text is the only thing you touch in .card-header -->
        </div>
        <div class="card-content">
          <ul class="person-list">
            <li class="headers">
              <div data-sort="name" class="column wider sort">Ime</div>
              <div data-sort="party" class="column">PS</div>
              <div data-sort="district" class="column">Okraj</div>
              <% if (state && state.analysis) { %>
                <div data-sort="analysis" class="column"><%= columns[state.analysis].label %></div>
              <% } %>
            </li>
            <% data.data.forEach(function(result, index) { %>
            <li class="person" data-index="<%= index %>">
              <a class="portrait column" href="/p/id/<%= result.person.id %>">
                <img src="https://cdn.parlameter.si/v1/parlassets/img/people/square/<%= result.person.gov_id %>.png" />
              </a>
              <div class="column wider name"><%= result.person.name %></div>
              <div class="column">
                  <a href="/ps/id/<%= result.person.party.id %>">
                      <%= result.person.party.acronym %>
                  </a>
              </div>
              <div class="column"><%= result.person.formattedDistrict %></div>
              <% if (state && state.analysis) { %>
                <div class="column">
                  <%= function() {
                    var value = result.results[state.analysis];

                    if (value !== 0) {
                      if (columns[state.analysis].round) { value = Math.round(value * 10) / 10; }
                      if (columns[state.analysis].scientific) { value = value.toExponential(); }
                    }
                    if (columns[state.analysis].unit === 'percent') { value += '%'; }

                    return value;
                  }() %>
                </div>
              <% } %>
            </li>
            <% }) %>
          </ul>
        </div>
        <div class="card-footer">
            <div class="card-circle-button card-share"></div>
            <div class="card-circle-button card-embed"></div>
            <div class="card-circle-button card-info">i</div>
        </div>
    </div>
    <!-- everything below here is part of the page and not part of the card -->

    <!-- your js file is compiled to this and later inlined (must begin with data-inline="true" )-->
    <!-- inline temp/js/script.js as <script> -->
    <script data-inline="true" src="js/script.js"></script>

</body> <!-- removeme -->

</html> <!-- removeme -->
