<!DOCTYPE html> <!-- removeme -->
<html> <!-- removeme -->

<head> <!-- removeme -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- removeme -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> <!-- removeme -->

    <!-- build:remove -->
    <!-- these script files are removed on build -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/perfect-scrollbar.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/perfect-scrollbar.jquery.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/script.js"></script>
    <!-- endbuild -->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" data-remove="false" data-concat="false"> <!-- removeme -->
    <link rel="stylesheet" href="https://cdn.parlameter.si/v1/parlassets/css/perfect-scrollbar.css" data-remove="false" data-concat="false"> <!-- removeme -->
    <link rel="stylesheet" href="https://cdn.parlameter.si/v1/parlassets/scss/style.css" data-remove="false" data-concat="false"> <!-- removeme -->

    <!-- your css file is compiled to this and later inlined (must begin with data-inline="true" )-->
    <link data-inline="true" rel="stylesheet" href="css/style.css">

</head> <!-- removeme -->

<body> <!-- removeme -->


    <!-- everything above here is part of the page and not part of the card -->
    <div class="card-container card-halfling <%= className %>">
        <div class="card-header">
            <div class="card-header-border"></div>
            <h1>Članstva</h1> <!-- this text is the only thing you touch in .card-header -->
        </div>
        <div class="card-content half">
            <div class="card-content-front">
                <!-- get random id -->
                <%
                    function makeId() {
                        var text = "";
                        var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

                        for(var i = 0; i < 5; i++) {
                            text += possible.charAt(Math.floor(Math.random() * possible.length));
                        }

                        return text;
                    }

                    var randomId = makeId();
                    var membershipTabMap = {
                    'odbor': 'Delovna telesa',
                    'kolegij': 'Delovna telesa',
                    'komisija' : 'Delovna telesa',
                    'delegacija' : 'Stalne delegacije',
                    'skupina prijateljstva': 'Skupine prijateljstva'
                };
                    var tabs = {
                    'Delovna telesa': [],
                    'Stalne delegacije': [],
                    'Skupine prijateljstva': []
                };

                    for (membership in data.memberships) {
                        if (membership in membershipTabMap) {
                            var tabId = membershipTabMap[membership];
                            tabs[tabId] = tabs[tabId].concat(data.memberships[membership]);
                        }
                    }
                %>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <% var i = 0; for (tab in tabs) { %>

                    <li role="presentation" class="<%= i === 0 ? 'active' : '' %>">
                        <a href="#<%= tab.replace(/ /g, '_') %>_<%= randomId %>" aria-controls="<%= tab %>" role="tab" data-toggle="tab">
                        <span><%= tab %></span>
                    </a>
                    </li>

                    <% i++ } %>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <%
                      var i = 0;
                      for (tab in tabs) {
                          var currentTab = tabs[tab]; %>

                          <div role="tabpanel" class="tab-pane<%= i === 0 ? ' active' : '' %>" id="<%= tab.replace(/ /g, '_') %>_<%= randomId %>">
                              <ul class="membership-list">
                              <% if (currentTab.length > 0) { %>
                                <% currentTab.forEach(function(membershipItem) { %>
                                    <% if (tab === 'Delovna telesa') { %>
                                        <% if (membershipItem.name === 'Kolegij predsednika državnega zbora') { %>
                                            <li class="key">
                                            <a href="<%=urlsData.base%>/seje/tip/seje-kolegija-predsednika-dz"> <%= membershipItem.name %></a>
                                            </li>
                                        <% } else { %>
                                        <li class="key">
                                            <a href="<%=urlsData.base%>/seje/tip/seje-delovnih-teles/#<%= membershipItem.org_id %>"> <%= membershipItem.name %></a>
                                        </li>
                                        <% } %>
                                    <% } else { %>
                                        <li class="key">
                                            <%= membershipItem.name %>
                                        </li>
                                    <% } %>
                                <% }) %>
                              <% } else { %>
                                  <div class="nomemberships"><i>Brez članstev.</i></div>
                              <% } %>
                              </ul>
                          </div>

                    <% i++ } %>
                </div>
            </div>
            <div class="card-content-info hidden">
                <div class="card-back-content">
                    <div class="scroller" id="tvojamtka">
                        <p class="info-text">
                            Izpis vseh članstev <%= vocab['poslanec3'][data.person.gender] %> v delovnih telesih, stalnih delegacijah in skupinah prijateljstva.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-content-embed hidden">
                <div class="card-back-content">
                    <div class="embed-content">
                        <div class="embed-divider"></div>
                        <div class="embed-switch-container">
                            <div class="embed-label">Podatki naj se vedno osvežujejo</div>
                            <div class="embed-switch-big-box">
                                <div class="embed-switch-box">
                                    <div class="embed-switch">
                                        <div class="embed-switches">
                                            <div class="leftswitch">
                                                DA
                                            </div>
                                            <div class="rightswitch">
                                                NE
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="embed-switch-ball"></div>
                            </div>
                        </div>
                        <div class="embed-divider"></div>
                        <div class="embed-script">
                            <textarea class="form-control" data-id="<%= data.person.id %>" data-url="https://glej.parlameter.si/<%= cardData.group %>/<%= cardData.method %>/"><script>(function(d,script){script=d.createElement('script');script.type='text/javascript';script.async=true;script.onload=function(){iFrameResize({log:true,checkOrigin:false})};script.src = 'https://cdn.parlameter.si/v1/parlassets/js/iframeResizer.min.js';d.getElementsByTagName('head')[0].appendChild(script);}(document));</script><iframe frameborder="0" width="100%" src="https://glej.parlameter.si/<%= cardData.group %>/<%= cardData.method %>/<%= data.person.id %>/?embed=true&altHeader=true"></textarea>
                            <button class="btn-parlameter btn-full-width btn-blue btn-copy-embed">KOPIRAJ</button>
                        </div>
                        <div class="embed-divider"></div>
                        <div class="embed-export">
                            <div class="embed-label">Izvozi kartico kot sliko <button class="btn-parlameter btn-blue btn-margin-left">PRENESI</button></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-content-share hidden">
                <div class="card-back-content">
                    <div class="share-content">
                        <label for="share-url">Neposredna povezava do kartice</label>
                        <input type="url" class="form-control share-url" id="share-url" value="https://glej.parlameter.si/<%= cardData.group %>/<%= cardData.method %>/<%= data.person.id %>/?frame=true&altHeader=true"/>
                        <button class="btn-parlameter btn-full-width btn-blue">KOPIRAJ</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
                <div class="card-logo hidden">
                     <a href="https://skoraj.parlameter.si/">
                         <img src="https://cdn.parlameter.si/v1/parlassets/img/logo-parlameter.svg" alt="parlameter logo">
                     </a>
                 </div>

            <div class="card-circle-button card-share" data-back="share"></div>
            <div class="card-circle-button card-embed" data-back="embed"></div>
            <div class="card-circle-button card-info" data-back="info">i</div>
        </div>
    </div>
    <!-- everything below here is part of the page and not part of the card -->

    <!-- your js file is compiled to this and later inlined (must begin with data-inline="true" )-->
    <!-- inline temp/js/script.js as <script> -->
    <script data-inline="true" src="js/script.js"></script>

</body> <!-- removeme -->

</html> <!-- removeme -->
