<!DOCTYPE html><!-- removeme -->
<html><!-- removeme -->

    <head><!-- removeme -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/><!-- removeme -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"><!-- removeme -->

        <!-- build:remove -->
        <!-- these script files are removed on build -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://cdn.parlameter.si/v1/parlassets/js/perfect-scrollbar.js"></script>
        <script src="https://cdn.parlameter.si/v1/parlassets/js/perfect-scrollbar.jquery.js"></script>
        <%# <script src="https://raw.githubusercontent.com/twbs/bootstrap/master/js/tab.js"></script>%>
        <script src="https://cdn.parlameter.si/v1/parlassets/js/script.js"></script>
        <!-- endbuild -->

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" data-remove="false" data-concat="false"><!-- removeme -->
        <link rel="stylesheet" href="https://cdn.parlameter.si/v1/parlassets/css/perfect-scrollbar.css" data-remove="false" data-concat="false"><!-- removeme -->
        <link rel="stylesheet" href="https://cdn.parlameter.si/v1/parlassets/scss/style.css" data-remove="false" data-concat="false"><!-- removeme -->

        <!-- your css file is compiled to this and later inlined (must begin with data-inline="true" )-->
        <link data-inline="true" rel="stylesheet" href="css/style.css">

    </head><!-- removeme -->

    <body><!-- removeme -->

        <!-- everything above here is part of the page and not part of the card -->
        <div class="card-container card-halfling <%= className %>">
            <div class="card-header">
                <div class="card-header-border"></div>
                <h1>Izračunana prisotnost</h1>
                <!-- this text is the only thing you touch in .card-header -->
            </div>
            <div class="card-content half">

                <!-- get random id -->
                <%
                    function makeid() {
                        var text = "";
                        var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

                        for( var i=0; i < 5; i++ ) {
                            text += possible.charAt(Math.floor(Math.random() * possible.length));
                        }

                        return text;
                    }

                    var random_id = makeid();
                %>

                <div class="bgwhite poslanec poslanec-small">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#prisotnost_na_sejah<%= random_id %>" aria-controls="Prisotnost na sejah DZ" role="tab" data-toggle="tab">Prisotnost na sejah DZ</a>
                        </li>
                        <li role="presentation">
                            <a href="#prisotnost_na_glasovanjih<%= random_id %>" aria-controls="Prisotnost na glasovanjih sej DZ" role="tab" data-toggle="tab">Prisotnost na glasovanjih sej DZ</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="prisotnost_na_sejah<%= random_id %>">

                            <div class="me_poslanec clearfix">
                                <div class="col150">
                                    <span class="poslanec_title">
                                        <%= data.organization.name %>
                                    </span>
                                </div>
                                <div class="col280">
                                    <div class="progress hugebar ">
                                        <div class="progress-bar red" role="progressbar" aria-valuenow="<%= data.sessions.organization_value %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= data.sessions.organization_value/100*80 %>%;">
                                            <span class="sr-only"><%= data.sessions.organization_value %>% Complete</span>
                                        </div>
                                        <div class="progress_number">
                                            <%= Math.round(data.sessions.organization_value) %>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="other_poslanec clearfix">
                                <div class="col150">
                                    <span class="poslanec_title">
                                        Povprečje
                                    </span>
                                </div>
                                <div class="col280">
                                    <div class="progress smallbar avgmin">
                                        <div class="progress-bar funblue" role="progressbar" aria-valuenow="<%= data.sessions.average %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= data.sessions.average/100*80 %>%;">
                                            <span class="sr-only"><%= data.sessions.average %>% Complete</span>
                                        </div>
                                        <div class="progress_number">
                                            <%= Math.round(data.sessions.average) %>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="other_poslanec clearfix">
                                <div class="col150">
                                    <span class="poslanec_title">
                                        Največ
                                    </span>
                                </div>
                                <div class="col280">
                                    <div class="progress smallbar avgminmin">
                                        <div class="progress-bar funblue" role="progressbar" aria-valuenow="<%= data.sessions.maximum %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= data.sessions.maximum/100*80 %>%;">
                                            <span class="sr-only"><%= data.sessions.maximum %>% Complete</span>
                                        </div>
                                        <%

                                        if (data.sessions.maxPG) {
                                            for (var i = 0; i < data.sessions.maxPG.length; i++) {

                                        %>
                                        <div class="avgminimg avgminimg-party img-circle" style="margin-left: <%= -30 * (data.sessions.maxPG.length - i - 1) %>px;"><%= data.sessions.maxPG[i].acronym %></div>
                                        <%
                                            }
                                        }
                                        %>
                                        <div class="progress_number">
                                            <%= Math.round(data.sessions.maximum) %>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div role="tabpanel" class="tab-pane" id="prisotnost_na_glasovanjih<%= random_id %>">

                            <div class="me_poslanec clearfix">
                                <div class="col150">
                                    <span class="poslanec_title">
                                        <%= data.organization.name %>
                                    </span>
                                </div>
                                <div class="col280">
                                    <div class="progress hugebar ">
                                        <div class="progress-bar red" role="progressbar" aria-valuenow="<%= data.votes.organization_value %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= data.votes.organization_value/100*80 %>%;">
                                            <span class="sr-only"><%= data.votes.organization_value %>% Complete</span>
                                        </div>
                                        <div class="progress_number">
                                            <%= Math.round(data.votes.organization_value) %>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="other_poslanec clearfix">
                                <div class="col150">
                                    <span class="poslanec_title">
                                        Povprečje
                                    </span>
                                </div>
                                <div class="col280">
                                    <div class="progress smallbar avgmin">
                                        <div class="progress-bar funblue" role="progressbar" aria-valuenow="<%= data.votes.average %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= data.votes.average/100*80 %>%;">
                                            <span class="sr-only"><%= data.votes.average %>% Complete</span>
                                        </div>
                                        <div class="progress_number">
                                            <%= Math.round(data.votes.average) %>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="other_poslanec clearfix">
                                <div class="col150">
                                    <span class="poslanec_title">
                                        Največ
                                    </span>
                                </div>
                                <div class="col280">
                                    <div class="progress smallbar avgminmin">
                                        <div class="progress-bar funblue" role="progressbar" aria-valuenow="<%= data.votes.maximum %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= data.votes.maximum/100*80 %>%;">
                                            <span class="sr-only"><%= data.votes.maximum %>% Complete</span>
                                        </div>
                                        <%

                                        if (data.votes.maxPG) {
                                            for (var i = 0; i < data.votes.maxPG.length; i++) {

                                        %>
                                        <div class="avgminimg avgminimg-party img-circle" style="margin-left: <%= -30 * (data.votes.maxPG.length - i - 1) %>px;"><%= data.votes.maxPG[i].acronym %></div>
                                        <%
                                            }
                                        }
                                        %>
                                        <div class="progress_number">
                                            <%= Math.round(data.votes.maximum) %>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- delete this placeholder, this is the content of your card -->
            </div>
            <div class="card-footer">
                <div class="card-logo hidden">
                     <a href="<%= urlsData.base %>">
                         <img src="https://cdn.parlameter.si/v1/parlassets/img/logo-parlameter.svg" alt="parlameter logo">
                     </a>
                 </div>

                <div class="card-circle-button card-share"></div>
                <div class="card-circle-button card-embed"></div>
                <div class="card-circle-button card-info">i</div>
            </div>
        </div>
        <!-- everything below here is part of the page and not part of the card -->

        <!-- your js file is compiled to this and later inlined (must begin with data-inline="true" )-->
        <!-- inline temp/js/script.js as <script> -->
        <script data-inline="true" src="js/script.js"></script>

    </body><!-- removeme -->

</html><!-- removeme -->
