<!DOCTYPE html> <!-- removeme -->
<html> <!-- removeme -->

<head> <!-- removeme -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- removeme -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> <!-- removeme -->

    <!-- build:remove -->
    <!-- these script files are removed on build -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/script.js"></script>
    <!-- endbuild -->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" data-remove="false" data-concat="false"> <!-- removeme -->
    <link rel="stylesheet" href="https://cdn.parlameter.si/v1/parlassets/scss/style.css" data-remove="false" data-concat="false"> <!-- removeme -->

    <!-- your css file is compiled to this and later inlined (must begin with data-inline="true" )-->
    <link data-inline="true" rel="stylesheet" href="css/style.css">

    <script>
      <% data.data = data.data.filter(function(member) {
        var partyMatch = true,
            districtMatch = true,
            presidingMatch = true;

        if (state.parties) {
          partyMatch = state.parties.indexOf(member.person.party.acronym) > -1;
        }
        if (state.districts) {
          districtMatch = member.person.district.reduce(function(prevMatch, memberDistrict) {
            return prevMatch || state.districts.indexOf(String(memberDistrict)) > -1;
          }, false);
        }
        if (state.excludePresiding) {
          presidingMatch = !member.person.has_function;
        }

        return partyMatch && districtMatch && presidingMatch;
      }).map(function(member) {
        if (member.person.district.length === 0) {
          member.person.formattedDistrict = 'okraj ni vnešen';
        }
        else {
          member.person.formattedDistrict = member.person.district.map(function(memberDistrict) {
            var matchingDistrict = data.districts.filter(function(district) {
              return Object.keys(district)[0] === String(memberDistrict);
            })[0];
            return matchingDistrict[String(memberDistrict)];
          }).join(', ');
        }

        return member;
      });
      var cardUrl = 'https://glej.parlameter.si/' + cardData.group + '/' + cardData.method + '/?customUrl=' + encodeURIComponent('https://analize.parlameter.si/v1/p/getListOfMembers') + (Object.keys(state).length > 0 ? '&state=' + encodeURIComponent(JSON.stringify(state)) : '');
      var columns = {
        presence_sessions: {
          titleSuffix: 'po prisotnosti na sejah DZ',
          explanation: 'Preštejemo vse seje in preverimo, če je poslanec glasoval na vsaj enem glasovanju na posamezni seji. Če je glasoval vsaj enkrat, ga štejemo kot prisotnega na posamezni seji. Delimo število sej, ko je bil prisoten, s številom vseh sej in normaliziramo (min 1 - max 100).<br><br>V stolpcu Sprememba je razlika med vrednostima rezultatov analize v obdobju med zadnjima dvema rednima sejama DZ RS.',
          label: 'Prisotnost na sejah DZ',
          unit: 'percent',
          round: true
        },
        presence_votes: {
          titleSuffix: 'po prisotnosti na glasovanjih sej DZ',
          explanation: 'Število glasovanj, ko je bil poslanec prisoten, delimo s številom vseh glasovanj in normaliziramo (min 1 - max 100).<br><br>V stolpcu Sprememba je razlika med vrednostima rezultatov analize v obdobju med zadnjima dvema rednima sejama DZ RS.',
          label: 'Prisotnost na glasovanjih sej DZ',
          unit: 'percent',
          round: true
        },
        vocabulary_size: {
          titleSuffix: 'po raznolikosti besedišča',
          explanation: 'Iz vseh poslančevih govorov preštejemo unikatne besede ter število vseh izgovorjenih besed. Potem preštejemo, kolikokrat se vsaka unikatna beseda pojavi. Razdelimo jih v kategorije, tako da združimo vse besede, ki se ponovijo enkrat, dvakrat, trikrat itn. Na koncu izračunamo koeficient, kjer nad ulomkovo črto postavimo število vseh unikatnih izgovorjenih besed, pod ulomkovo črto pa število besed, ki se ponovijo z neko frekvenco (enkrat, dvakrat, trikrat ...) in množimo s frekvenco na kvadrat (ena na kvadrat, dva na kvadrat, tri na kvadrat ...). Za poved "Danes je nov dan in danes je dan za Parlameter" je rezultat: 7 / ((3*2^2) + (4*1^2)) = 0,4375<br><br>V stolpcu Sprememba je razlika med vrednostima rezultatov analize v obdobju med zadnjima dvema rednima sejama DZ RS.',
          label: 'Raznolikost besedišča'
        },
        spoken_words: {
          titleSuffix: 'po št. izgovorjenih besed',
          explanation: 'Število besed, ki jih je poslanec izgovoril v vseh svojih dosedanjih govorih v DZ.<br><br>V stolpcu Sprememba je razlika med vrednostima rezultatov analize v obdobju med zadnjima dvema rednima sejama DZ RS.',
          label: 'Št. izgovorjenih besed'
        },
        speeches_per_session: {
          titleSuffix: 'po št. govorov na sejo',
          explanation: 'Preštejemo poslančeve govore in število delimo s številom sej, na katerih je poslanec govoril. Število vseh govorov delimo najprej s številom poslancev, potem pa še s številom vseh sej (na katerih se je govorilo). Individualni rezultat primerjamo s povprečnim.<br><br>V stolpcu Sprememba je razlika med vrednostima rezultatov analize v obdobju med zadnjima dvema rednima sejama DZ RS.',
          label: 'Št. govorov na sejo'
        },
        privzdignjeno: {
          titleSuffix: 'po pogostosti rabe privzdignjenega besedja',
          explanation: 'Z združevanjem kvalifikatorjev <a href="http://www.fran.si/130/sskj-slovar-slovenskega-knjiznega-jezika">SSKJ</a> in <a href="http://www.fran.si/131/snb-slovar-novejsega-besedja">SNB</a> smo definirali ekscesno, privzdignjeno in preprosto besedje v poslanskih govorih. Upoštevani so le kvalifikatorji, ki so v obeh slovarjih tik za zaglavjem in imajo doseg do konca geselskega sestavka (ne pa tudi kvalifikatorji za posamezne pomene oziroma rabe). Podjetje Amebis je iz transkriptov poslanskih govorov pripravilo sezname besed, ki imajo katerega od izbranih kvalifikatorjev.<br>' +
            'Kvalifikatorji iz SSKJ: ' +
            'evfemistično (evfem.), mitološko (mitol.), pesniško (pesn.), knjižno (knjiž.), zastarelo (zastar.), starinsko (star.)<br>' +
            '<br>' +
            '<br>' +
            'Vrednost v stolpcu analiza označuje delež posameznega tipa besedja v poslančevih govorih glede na povprečje, izračunano za celoten sklic.<br>' +
            'Delež se izračuna po naslednjem algoritmu: vzamejo se vsi poslančevi govori, prešteje se število besed (in njihovih ponovitev) v vsaki kategoriji besedja. To se izvede za vse poslance, nato se deli vrednost kategorije za poslanca z vrednostjo povprečja (seštevek vrednosti vseh poslancev, deljen s številom poslancev). Vrednost vsake kategorije za poslanca se normalizira (min. 1 – max. 100).<br><br>V stolpcu Sprememba je razlika med vrednostima rezultatov analize v obdobju med zadnjima dvema rednima sejama DZ RS.',
          label: 'Privzdignjeno besedje',
          round: true,
          roundingPrecision: 3
        },
        preprosto: {
          titleSuffix: 'po pogostosti rabe preprostega besedja',
          explanation: 'Z združevanjem kvalifikatorjev <a href="http://www.fran.si/130/sskj-slovar-slovenskega-knjiznega-jezika">SSKJ</a> in <a href="http://www.fran.si/131/snb-slovar-novejsega-besedja">SNB</a> smo definirali ekscesno, privzdignjeno in preprosto besedje v poslanskih govorih. Upoštevani so le kvalifikatorji, ki so v obeh slovarjih tik za zaglavjem in imajo doseg do konca geselskega sestavka (ne pa tudi kvalifikatorji za posamezne pomene oziroma rabe). Podjetje Amebis je iz transkriptov poslanskih govorov pripravilo sezname besed, ki imajo katerega od izbranih kvalifikatorjev.<br>' +
            'Kvalifikatorji iz SSKJ: ' +
            'narečno (nar.), pogovorno (pog.), nižje pogovorno (nižje pog.) <br>' +
            'Kvalifikatorji iz SNB: ' +
            'pogovorno (pog.)<br>' +
            '<br>' +
            'Vrednost v stolpcu analiza označuje delež posameznega tipa besedja v poslančevih govorih glede na povprečje, izračunano za celoten sklic.<br>' +
            'Delež se izračuna po naslednjem algoritmu: vzamejo se vsi poslančevi govori, prešteje se število besed (in njihovih ponovitev) v vsaki kategoriji besedja. To se izvede za vse poslance, nato se deli vrednost kategorije za poslanca z vrednostjo povprečja (seštevek vrednosti vseh poslancev, deljen s številom poslancev). Vrednost vsake kategorije za poslanca se normalizira (min. 1 – max. 100).<br><br>V stolpcu Sprememba je razlika med vrednostima rezultatov analize v obdobju med zadnjima dvema rednima sejama DZ RS.',
          label: 'Preprosto besedje',
          round: true,
          roundingPrecision: 3
        },
        problematicno: {
          titleSuffix: 'po pogostosti rabe ekscesnega besedja',
          explanation: 'Z združevanjem kvalifikatorjev <a href="http://www.fran.si/130/sskj-slovar-slovenskega-knjiznega-jezika">SSKJ</a> in <a href="http://www.fran.si/131/snb-slovar-novejsega-besedja">SNB</a> smo definirali ekscesno, privzdignjeno in preprosto besedje v poslanskih govorih. Upoštevani so le kvalifikatorji, ki so v obeh slovarjih tik za zaglavjem in imajo doseg do konca geselskega sestavka (ne pa tudi kvalifikatorji za posamezne pomene oziroma rabe). Podjetje Amebis je iz transkriptov poslanskih govorov pripravilo sezname besed, ki imajo katerega od izbranih kvalifikatorjev.<br>' +
            'Kvalifikatorji iz SSKJ: ' +
            'vulgarno (vulg.), slabšalno (slabš.), ekspresivno (ekspr.), ironično (iron.), otroško (otr.) <br>' +
            'Kvalifikatorji iz SNB: ' +
            'slabšalno (slabš.), vulgarno (vulg.)<br>' +
            '<br>' +
            'Vrednost v stolpcu analiza označuje delež posameznega tipa besedja v poslančevih govorih glede na povprečje, izračunano za celoten sklic.<br>' +
            'Delež se izračuna po naslednjem algoritmu: vzamejo se vsi poslančevi govori, prešteje se število besed (in njihovih ponovitev) v vsaki kategoriji besedja. To se izvede za vse poslance, nato se deli vrednost kategorije za poslanca z vrednostjo povprečja (seštevek vrednosti vseh poslancev, deljen s številom poslancev). Vrednost vsake kategorije za poslanca se normalizira (min. 1 – max. 100).<br><br>V stolpcu Sprememba je razlika med vrednostima rezultatov analize v obdobju med zadnjima dvema rednima sejama DZ RS.',
          label: 'Ekscesno besedje',
          round: true,
          roundingPrecision: 3
        },
        number_of_questions: {
          titleSuffix: ' po št. poslanskih vprašanj in pobud',
          explanation: 'Število poslanskih vprašanj in pobud, ki jih je poslanec/-ka zastavil/-a v tem sklicu DZ v primerjavi s povprečno in največjo vrednostjo.' +
                            'Podatke pridobivamo s spletnega mesta DZ RS: <a href="https://www.dz-rs.si/wps/portal/Home/deloDZ/poslanskaVprasanjaInPobude/">https://www.dz-rs.si/wps/portal/Home/deloDZ/poslanskaVprasanjaInPobude/</a>.<br><br>V stolpcu Sprememba je razlika med vrednostima rezultatov analize v obdobju med zadnjima dvema rednima sejama DZ RS.',
          label: 'Št. poslanskih vprašanj in pobud',
          round: true,
          roundingPrecision: 0
        }
      };

      function round(value, precision) {
        var multiplier = Math.pow(10, precision || 0);
        return Math.round(value * multiplier) / multiplier;
      }; %>
      var seznamPoslancevData = <%- JSON.stringify(data); %>;
      var seznamPoslancevState = <%- JSON.stringify(state); %>;
      var seznamPoslancevColumns = <%- JSON.stringify(columns); %>;
    </script>
</head> <!-- removeme -->

<body> <!-- removeme -->
    <!-- everything above here is part of the page and not part of the card -->
    <div class="card-container card-halfling <%= className %>" data-id="<%= cardData.group %>/<%= cardData.method %>">
        <div class="card-header">
          <div class="card-header-border"></div>
          <h1>Seznam poslancev<%= state && state.analysis ? ' ' + columns[state.analysis].titleSuffix : '' %></h1> <!-- this text is the only thing you touch in .card-header -->
        </div>
        <div class="card-content">
          <div class="card-content-front">
            <ul class="person-list">
              <li class="headers">
                <div data-sort="name" class="column wider sort">Ime</div>
                <div data-sort="party" class="column">PS</div>
                <div data-sort="district" class="column district">Okraj</div>
                <% if (state && state.analysis) { %>
                  <div data-sort="analysis" class="column">Analiza</div>
                  <div data-sort="change" class="column">Sprememba</div>
                <% } %>
              </li>
              <% if (data.data.length === 0) { %>
                <div class="no-results">Brez rezultatov.</div>
              <% } else { %>
                <% data.data.forEach(function(result, index) { %>
                <li class="person" data-index="<%= index %>">
                  <a class="portrait column" href="<%=urlsData.base%><%=urlsData.personLink.base%><%=urlsData.person[result.person.id].slug%><%=urlsData.personLink.pregled%>">
                    <img src="https://cdn.parlameter.si/v1/parlassets/img/people/square/<%= result.person.gov_id %>.png" />
                  </a>
                  <div class="column wider name">
                    <a class="funblue-light-hover" href="<%=urlsData.base%><%=urlsData.personLink.base%><%=urlsData.person[result.person.id].slug%><%=urlsData.personLink.pregled%>"><%= result.person.name %></a>
                  </div>
                  <div class="column">
                    <% if (result.person.party.acronym.indexOf('NeP') === -1) { %><a class="funblue-light-hover" href="<%=urlsData.base%><%=urlsData.partyLink.base%><%=urlsData.party[result.person.party.id].acronym%><%=urlsData.partyLink.pregled%>"><%= result.person.party.acronym %></a><% } else { %> <%= result.person.party.acronym %> <% } %>
                  </div>
                  <div class="column district"><%= result.person.formattedDistrict %></div>
                  <% if (state && state.analysis) { %>
                    <div class="column">
                      <%= function() {
                        var value = result.results[state.analysis].score;

                        if (value === null) { return 'Ni dovolj podatkov'; };

                        if (value !== 0) {
                          if (columns[state.analysis].round) { value = String(round(value, columns[state.analysis].roundingPrecision || 1)).replace('.', ','); }
                          if (columns[state.analysis].scientific) { value = value.toExponential(); }
                        }

                        if (columns[state.analysis].unit === 'percent') { value += '%'; }

                        return value;
                      }() %>
                    </div>
                    <div class="column">
                      <%= function() {
                        var change = String(parseFloat(member.results[this.currentAnalysis].diff).toFixed(this.currentAnalysisData.roundingPrecision)).replace('.', ',');
                        var number = Math.abs(change);
                        var prefix = change < 0 ? '-\xa0' : (change > 0 ? '+\xa0' : '');

                        return prefix + number;
                      }() %>
                    </div>
                  <% } %>
                </li>
                <% }) %>
              <% } %>
            </ul>
          </div>
          <div class="card-content-info hidden">
            <div class="card-back-content">
                <p class="info-text"></p>
            </div>
        </div>
        <div class="card-content-embed hidden">
            <div class="card-back-content">
                <div class="embed-content">
                    <div class="embed-divider"></div>
                    <div class="embed-switch-container">
                        <div class="embed-label">Podatki naj se vedno osvežujejo</div>
                        <div class="embed-switch-big-box">
                            <div class="embed-switch-box">
                                <div class="embed-switch">
                                    <div class="embed-switches">
                                        <div class="leftswitch">
                                            DA
                                        </div>
                                        <div class="rightswitch">
                                            NE
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="embed-switch-ball"></div>
                        </div>
                    </div>
                    <div class="embed-divider"></div>
                    <div class="embed-script">
                        <textarea class="form-control" data-id="<%= 0 %>" data-url="https://glej.parlameter.si/<%= cardData.group %>/<%= cardData.method %>/"><script>(function(d,script){script=d.createElement('script');script.type='text/javascript';script.async=true;script.onload=function(){iFrameResize({log:true,checkOrigin:false})};script.src = 'https://cdn.parlameter.si/v1/parlassets/js/iframeResizer.min.js';d.getElementsByTagName('head')[0].appendChild(script);}(document));</script><iframe frameborder="0" width="100%" src="<%= cardUrl %>&embed=true&altHeader=true"></iframe></textarea>
                        <button class="btn-parlameter btn-full-width btn-blue btn-copy-embed">KOPIRAJ</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="card-content-share hidden">
            <div class="card-back-content">
                <div class="share-content">
                    <label for="share-url">Neposredna povezava do kartice</label>
                    <input type="url" class="form-control share-url" id="share-url" value="<%= cardUrl %>&frame=true' %>"/>
                    <button class="btn-parlameter btn-full-width btn-blue">KOPIRAJ</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
                <div class="card-logo hidden">
                     <a href="<%= urlsData.base %>">
                         <img src="https://cdn.parlameter.si/v1/parlassets/img/logo-parlameter.svg" alt="parlameter logo">
                     </a>
                 </div>

        <div class="card-circle-button card-share" data-back="share"></div>
        <div class="card-circle-button card-embed" data-back="embed"></div>
        <div class="card-circle-button card-info" data-back="info">i</div>
    </div>
    </div>
    <!-- everything below here is part of the page and not part of the card -->

    <!-- your js file is compiled to this and later inlined (must begin with data-inline="true" )-->
    <!-- inline temp/js/script.js as <script> -->
    <script data-inline="true" src="js/script.js"></script>

</body> <!-- removeme -->

</html> <!-- removeme -->
