<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" data-remove="false" data-concat="false">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" data-remove="false" data-concat="false"></script>
    <link rel="stylesheet" href="https://cdn.parlameter.si/v1/lib/css/perfect-scrollbar.min.css" data-remove="false" data-concat="false">
    <script src="https://cdn.parlameter.si/v1/lib/js/perfect-scrollbar.min.js" data-remove="false" data-concat="false"></script>


    <!-- these are your (s)css and js files -->
    <link rel="stylesheet" href="scss/style.css" data-prefix="true">
    <script src="js/script.js" data-prefix="true"></script>
    <!-- your extra (s)css and js files should be above this line -->
</head>

<body onload="iframeResizePipe()">

    <!-- Livereload script for development only (stripped during dist build) -->
    <script src="http://localhost:35729/livereload.js" data-concat="false" data-remove="false"></script>


    <!-- everything above here is part of the page and not part of the card -->
    <div class="card-container card-halfling">
        <div class="card-header card-header-embed">
            <div class="headerimage-container">
                <img src="//cdn.parlameter.si/v1/img/demo/poslanka.png" class="img-responsive img-circle">
                <!-- <img src="//cdn.parlameter.si/v1/img/people/<%= data.person.id %>.png" class="img-responsive img-circle"> -->
            </div>
            <div class="headerwords-container">
                <h1>Osnovne informacije o poslanki <br>&nbsp;</h1> <!-- TODO IF MORE CHARS THAN X THEN LINE BREAK -->
                <h2><span class="name"><%= data.person.name %></span> / <span class="acronym"><%= data.results.acronym %></span></h2>
            </div>
            <!-- this text is the only thing you touch in .card-header -->
        </div>
        <div class="card-embed-header-divider"></div>
        <div class="card-content">
            <div class="bgwhite poslanec">

                <div class="clearfix">
                    <div class="col50 text-center btn-lg">
                        <span class="parlaicon parlaicon-skupina" aria-hidden="true"></span>
                    </div>
                    <div class="col380 nopadding">
                        <span class="key">
                            Poslanska skupina:
                            <a href="#<%= data.results.party_id %>"><%= data.results.acronym %></a>
                        </span>
                    </div>
                </div>

                <div class="clearfix">
                    <div class="col50 text-center btn-lg">
                        <span class="parlaicon parlaicon-delaza" aria-hidden="true"></span>
                    </div>
                    <div class="col380 bordertop nopadding">
                        <span class="key">
                            Dela za: <%= data.results.voters %>
                        </span>
                    </div>
                </div>

                <div class="clearfix">
                    <div class="col50 text-center btn-lg">
                        <span class="parlaicon parlaicon-mandat" aria-hidden="true"></span>
                    </div>
                    <div class="col380 bordertop nopadding">
                        <span class="key">
                            Število mandatov: <%= data.results.mandates %>
                        </span>
                    </div>
                </div>

                <div class="clearfix">
                    <div class="col50 text-center btn-lg">
                        <span class="parlaicon parlaicon-status" aria-hidden="true"></span>
                    </div>
                    <div class="col380 bordertop nopadding">
                        <span class="key">
                            Prejšnji status: <%= data.results.previous_occupation %>
                        </span>
                    </div>
                </div>

                <div class="clearfix">
                    <div class="col50 text-center btn-lg">
                        <span class="parlaicon parlaicon-izobrazba" aria-hidden="true"></span>
                    </div>
                    <div class="col380 bordertop nopadding">
                        <span class="key">
                            Izobrazba: <%= data.results.education %>
                        </span>
                    </div>
                </div>

                <div class="clearfix">
                    <div class="col50 text-center btn-lg">
                        <span class="parlaicon parlaicon-starost" aria-hidden="true"></span>
                    </div>
                    <div class="col380 bordertop nopadding">
                        <span class="key">
                            Starost: <%= data.results.age %> let
                        </span>
                    </div>
                </div>

                <%
                    if (data.results.social[0].linkedin != null || data.results.social[0].twitter != null || data.results.social[0].facebook != null) {
                %>
                <div class="clearfix">
                    <div class="col50 text-center btn-lg">
                        <span class="parlaicon parlaicon-clanstva" aria-hidden="true"></span>
                    </div>
                    <div class="col380 bordertop nopadding">
                        <span class="key">
                            Družbena omrežja:
                            <%
                                if (data.results.social[0].facebook) {
                            %>

                            <a href="<%= data.results.social[0].facebook %>"><span class="parlaicon parlaicon-facebook"></span></a>

                            <%
                                }
                                if (data.results.social[0].twitter) {
                            %>

                            <a href="<%= data.results.social[0].twitter %>"><span class="parlaicon parlaicon-twitter"></span></a>

                            <%
                                }
                                if (data.results.social[0].linkedin) {
                            %>

                            <a href="<%= data.results.social[0].linkedin %>">Linkedin</a>

                            <%
                                }
                            %>
                        </span>
                    </div>
                </div>

                <%
                    }
                %>



            </div>
            <!-- delete this placeholder, this is the content of your card -->
        </div>
        <div class="card-footer">
            <div class="card-circle-button card-share"></div>
            <div class="card-circle-button card-embed"></div>
            <div class="card-circle-button card-info">i</div>
        </div>
    </div>
    <!-- everything below here is part of the page and not part of the card -->


    <iframe id="helpframe" src='' height='0' width='0' frameborder='0'></iframe>
</body>

</html>
