<!DOCTYPE html> <!-- removeme -->
<html> <!-- removeme -->

<head> <!-- removeme -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- removeme -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> <!-- removeme -->

    <!-- build:remove -->
    <!-- these script files are removed on build -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/perfect-scrollbar.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/perfect-scrollbar.jquery.js"></script>
    <%# <script src="https://raw.githubusercontent.com/twbs/bootstrap/master/js/tab.js"></script>%>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/script.js"></script>
    <!-- endbuild -->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" data-remove="false" data-concat="false"> <!-- removeme -->
    <link rel="stylesheet" href="https://cdn.parlameter.si/v1/parlassets/css/perfect-scrollbar.css" data-remove="false" data-concat="false"> <!-- removeme -->
    <link rel="stylesheet" href="https://cdn.parlameter.si/v1/parlassets/scss/style.css" data-remove="false" data-concat="false"> <!-- removeme -->

    <!-- your css file is compiled to this and later inlined (must begin with data-inline="true" )-->
    <link data-inline="true" rel="stylesheet" href="css/style.css">

</head> <!-- removeme -->

<body> <!-- removeme -->

    <!-- everything above here is part of the page and not part of the card -->
    <div class="card-container card-halfling <%= className %>" data-id="<%= cardData.group %>/<%= cardData.method %>">
        <div class="card-header">
            <div class="card-header-border"></div>
            <h1>Stilne analize</h1> <!-- this text is the only thing you touch in .card-header -->
        </div>
        <div class="card-content half">
            <div class="card-content-front">
                <div class="bgwhite poslanec">
                    <% var max = Math.max(data.results.privzdignjeno, data.results.preprosto, data.results.problematicno); %>
                    <% if (max === 0) { %>
                        <div class="no-results" style="margin-top: 40px;">Brez govorov.</div>
                    <% } else { %>
                        <div class="me_poslanec_mini clearfix">
                            <div class="col150">
                                <span class="poslanec_title stilne_title">
                                    Privzdignjeno <br>besedje
                                </span>
                            </div>
                            <div class="col280">
                                <div class="progress smallbar">
                                    <div class="progress-bar funblue" role="progressbar" aria-valuenow="<%= data.results.privzdignjeno/max * 100 %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= data.results.privzdignjeno/max * 60 %>%;">
                                        <span class="sr-only"><%= data.results.privzdignjeno.toFixed(2) %></span>
                                    </div>
                                    <div class="progress_number" <% if (data.results.privzdignjeno < 0.001) {%> style="padding-left: 0;" <%} %>>
                                        <%= String(data.results.privzdignjeno.toFixed(2)).replace('.', ','); %>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="me_poslanec_mini clearfix">
                            <div class="col150">
                                <span class="poslanec_title stilne_title">
                                    Preprosto <br>besedje
                                </span>
                            </div>
                            <div class="col280">
                                <div class="progress smallbar avgmin">
                                    <div class="progress-bar funblue" role="progressbar" aria-valuenow="<%= data.results.preprosto/max * 100 %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= data.results.preprosto/max * 60 %>%;">
                                        <span class="sr-only"><%= data.results.preprosto.toFixed(2) %></span>
                                    </div>
                                    <div class="progress_number" <% if (data.results.preprosto < 0.001) {%> style="padding-left: 0;" <%} %>>
                                        <%= String(data.results.preprosto.toFixed(2)).replace('.', ','); %>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="me_poslanec_mini clearfix">
                            <div class="col150">
                                <span class="poslanec_title stilne_title">
                                    Ekscesno <br>besedje
                                </span>
                            </div>
                            <div class="col280">
                                <div class="progress smallbar avgmin">
                                    <div class="progress-bar funblue" role="progressbar" aria-valuenow="<%= data.results.problematicno/max * 100 %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= data.results.problematicno/max * 60 %>%;">
                                        <span class="sr-only"><%= data.results.problematicno.toFixed(2) %></span>
                                    </div>
                                    <div class="progress_number" <% if (data.results.problematicno < 0.001) {%> style="padding-left: 0;" <%} %>>
                                        <%= String(data.results.problematicno.toFixed(2)).replace('.', ','); %>
                                    </div>

                                </div>
                            </div>
                        </div>
                    <% } %>


                </div>
                <!-- delete this placeholder, this is the content of your card -->
            </div>
            <div class="card-content-info hidden">
                <div class="card-back-content">
                    <div class="scroller">
                        <p class="info-text">
                            Z združevanjem kvalifikatorjev <a class="funblue-light-hover" target="_blank" href="http://www.fran.si/130/sskj-slovar-slovenskega-knjiznega-jezika">SSKJ</a> in <a class="funblue-light-hover" target="_blank" href="http://www.fran.si/131/snb-slovar-novejsega-besedja">SNB</a> smo definirali ekscesno, privzdignjeno in preprosto besedje v poslanskih govorih.
                        </p>
                        <p class="info-text">
                            Upoštevani so le kvalifikatorji, ki so v obeh slovarjih tik za zaglavjem in imajo doseg do konca geselskega sestavka (ne pa tudi kvalifikatorji za posamezne pomene oziroma rabe).
                        </p>
                        <p class="info-text">
                            Podjetje <a class="funblue-light-hover" target="_blank" href="http://www.amebis.si/">Amebis</a> je iz transkriptov poslanskih govorov pripravilo sezname besed, ki imajo katerega od izbranih kvalifikatorjev.
                        </p>
                        <div class="info-text">
                            Ekscesno besedje:
                            <ul>
                                <li>
                                    Kvalifikatorji iz SSKJ
                                    <ul>
                                        <li>vulgarno (vulg.), slabšalno (slabš.), ekspresivno (ekspr.), ironično (iron.), otroško (otr.)</li>
                                    </ul>
                                </li>
                                <li>
                                    Kvalifikatorji iz SNB
                                    <ul>
                                        <li>slabšalno (slabš.), vulgarno (vulg.)</li>
                                    </ul>
                                </li>
                            </ul>

                            Privzdignjeno besedje
                            <ul>
                                <li>
                                    Kvalifikatorji iz SSKJ
                                    <ul>
                                        <li>evfemistično (evfem.), mitološko (mitol.), pesniško (pesn.), knjižno (knjiž.), zastarelo (zastar.), starinsko (star.)</li>
                                    </ul>
                                </li>
                            </ul>

                            Preprosto besedje
                            <ul>
                                <li>
                                    Kvalifikatorji iz SSKJ
                                    <ul>
                                        <li>narečno (nar.), pogovorno (pog.), nižje pogovorno (nižje pog.)</li>
                                    </ul>
                                </li>
                                <li>
                                    Kvalifikatorji iz SNB
                                    <ul>
                                        <li>pogovorno (pog.)</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <p class="info-text">
                            Črtni graf prikazuje delež posameznega tipa besedja v govorih poslanske skupine glede na povprečje, izračunano za celoten sklic. Delež se izračuna po naslednjem algoritmu: vzamejo se vsi govori poslanske skupine, prešteje se število besed (in njihovih ponovitev) v vsaki kategoriji besedja. To se izvede za vse poslance, nato se deli vrednost kategorije za poslansko skupino z vrednostjo povprečja (seštevek vrednosti vseh poslancev, deljen s številom poslancev). Vrednost vsake kategorije za poslansko skupino se normalizira (min. 1 – max. 100).
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-content-embed hidden">
                    <div class="card-back-content">
                        <div class="embed-content">
                            <div class="embed-divider"></div>
                            <div class="embed-switch-container">
                                <div class="embed-label">Podatki naj se vedno osvežujejo</div>
                                <div class="embed-switch-big-box">
                                    <div class="embed-switch-box">
                                        <div class="embed-switch">
                                            <div class="embed-switches">
                                                <div class="leftswitch">
                                                    DA
                                                </div>
                                                <div class="rightswitch">
                                                    NE
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="embed-switch-ball"></div>
                                </div>
                            </div>
                            <div class="embed-divider"></div>
                            <div class="embed-script">
                                <textarea class="form-control" data-id="<%= data.party.id %>" data-url="https://glej.parlameter.si/<%= cardData.group %>/<%= cardData.method %>/"><script>(function(d,script){script=d.createElement('script');script.type='text/javascript';script.async=true;script.onload=function(){iFrameResize({log:true,checkOrigin:false})};script.src = 'https://cdn.parlameter.si/v1/parlassets/js/iframeResizer.min.js';d.getElementsByTagName('head')[0].appendChild(script);}(document));</script><iframe frameborder="0" width="100%" src="https://glej.parlameter.si/<%= cardData.group %>/<%= cardData.method %>/<%= data.party.id %>?embed=true&altHeader=true"></textarea>
                                <button class="btn-parlameter btn-full-width btn-blue btn-copy-embed">KOPIRAJ</button>
                            </div>
                            
                        </div>
                    </div>
            </div>
            <div class="card-content-share hidden">
                    <div class="card-back-content">
                        <div class="share-content">
                            <label for="share-url">Neposredna povezava do kartice</label>
                            <input type="url" class="form-control share-url" id="share-url" value="https://glej.parlameter.si/<%= cardData.group %>/<%= cardData.method %>/<%= data.party.id %>?frame=true&altHeader=true"/>
                            <button class="btn-parlameter btn-full-width btn-blue">KOPIRAJ</button>
                        </div>
                    </div>
            </div>
        </div>
        <div class="card-footer">
                <div class="card-logo hidden">
                     <a href="<%= urlsData.base %>">
                         <img src="https://cdn.parlameter.si/v1/parlassets/img/logo-parlameter.svg" alt="parlameter logo">
                     </a>
                 </div>

            <div class="card-circle-button card-share" data-back="share"></div>
            <div class="card-circle-button card-embed" data-back="embed"></div>
            <div class="card-circle-button card-info" data-back="info">i</div>
        </div>
    </div>
    <!-- everything below here is part of the page and not part of the card -->

    <!-- your js file is compiled to this and later inlined (must begin with data-inline="true" )-->
    <!-- inline temp/js/script.js as <script> -->
    <script data-inline="true" src="js/script.js"></script>

</body> <!-- removeme -->

</html> <!-- removeme -->
