<!DOCTYPE html> <!-- removeme -->
<html> <!-- removeme -->

<head> <!-- removeme -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- removeme -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> <!-- removeme -->

    <!-- build:remove -->
    <!-- these script files are removed on build -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/perfect-scrollbar.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/perfect-scrollbar.jquery.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/script.js"></script>
    <!-- endbuild -->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" data-remove="false" data-concat="false"> <!-- removeme -->
    <link rel="stylesheet" href="https://cdn.parlameter.si/v1/parlassets/css/perfect-scrollbar.css" data-remove="false" data-concat="false"> <!-- removeme -->
    <link rel="stylesheet" href="https://cdn.parlameter.si/v1/parlassets/scss/style.css" data-remove="false" data-concat="false"> <!-- removeme -->

    <!-- your css file is compiled to this and later inlined (must begin with data-inline="true" )-->
    <link data-inline="true" rel="stylesheet" href="css/style.css">

</head> <!-- removeme -->

<body> <!-- removeme -->


<!-- everything above here is part of the page and not part of the card -->
<div class="card-container card-halfling <%= className %>">
    <div class="card-header">
        <div class="card-header-border"></div>
        <h1>Najtežje bi se jim pridružili</h1>
        <!-- this text is the only thing you touch in .card-header -->
    </div>
    <div class="card-content">

        <div  id="votingCard">

            <div id="scrollbar-voting-card<%=Math.floor(Math.random() * 10000); %>" class="scroller">

                <% for (var i = 0; i < data.results.length ; i++) { %>

                <div class="member <%= ((data.results.length-1) == i) ? 'lastel' : ''; %>">
                    <div class="image" style="background-image: url(https://cdn.parlameter.si/v1/parlassets/img/people/square/<%= data.results[i].person.gov_id %>.png); background-size: cover;"></div>
                    <p>
                        <a href="<%=urlsData.base%><%=urlsData.personLink.base%><%=urlsData.person[data.results[i].person.id].slug%><%=urlsData.personLink.pregled%>" title="<%data.results[i].person.name%>">
                            <%= data.results[i].person.name %>
                        </a>

                        <br/>
                        <a href="<%=urlsData.base%><%=urlsData.partyLink.base%><%=urlsData.party[data.results[i].person.party.id].acronym%><%=urlsData.partyLink.pregled%>" title="<%=data.results[i].person.party.name%>">
                            <%= data.results[i].person.party.acronym %>
                        </a>
                    </p>
                    <span><%= data.results[i].ratio.toFixed(0) %> %</span>
                    <div class="clearfix"></div>
                </div>

                <% }%>

            </div>

        </div>

    </div>
    <div class="card-footer">
                <div class="card-logo hidden">
                     <a href="https://skoraj.parlameter.si/">
                         <img src="https://cdn.parlameter.si/v1/parlassets/img/logo-parlameter.svg" alt="parlameter logo">
                     </a>
                 </div>

        <div class="card-circle-button card-share"></div>
        <div class="card-circle-button card-embed"></div>
        <div class="card-circle-button card-info">i</div>
    </div>
</div>
<!-- everything below here is part of the page and not part of the card -->

<!-- your js file is compiled to this and later inlined (must begin with data-inline="true" )-->
<!-- inline temp/js/script.js as <script> -->
<script data-inline="true" src="js/script.js"></script>

</body> <!-- removeme -->

</html> <!-- removeme -->
