<!DOCTYPE html> <!-- removeme -->
<html> <!-- removeme -->

<head> <!-- removeme -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- removeme -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> <!-- removeme -->

    <!-- build:remove -->
    <!-- these script files are removed on build -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/perfect-scrollbar.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/perfect-scrollbar.jquery.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/script.js"></script>
    <!-- endbuild -->
    <script>
    <%
      function makeId() {
        var text = "";
        var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

        for(var i = 0; i < 5; i++) {
          text += possible.charAt(Math.floor(Math.random() * possible.length));
        }

        return text;
      }

      var randomId = makeId();
    %>

    var voteData = <%- JSON.stringify(data); %>;
    var pGlasovanjaRandomId = '<%= randomId; %>';

    </script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" data-remove="false" data-concat="false"> <!-- removeme -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.parlameter.si/v1/parlassets/css/perfect-scrollbar.css" data-remove="false" data-concat="false"> <!-- removeme -->
    <link rel="stylesheet" href="https://cdn.parlameter.si/v1/parlassets/scss/style.css" data-remove="false" data-concat="false"> <!-- removeme -->

    <!-- your css file is compiled to this and later inlined (must begin with data-inline="true" )-->
    <link data-inline="true" rel="stylesheet" href="css/style.css">

</head> <!-- removeme -->

<body> <!-- removeme -->


    <!-- everything above here is part of the page and not part of the card -->
    <div class="card-container card-halfling <%= className %>">
        <div class="front">
            <div class="card-header">
                <div class="card-header-border"></div>
                <h1>Glasovanja</h1> <!-- this text is the only thing you touch in .card-header -->
            </div>
            <div id="glasovanja-<%= randomId %>" class="card-content">
              <select class="tag-selector" multiple>
              <% data.all_tags.forEach(function(tag) { %>
                <option value="<%= tag %>"><%= tag %></option>
              <% }) %>
              </select>
              <ul class="votes scroller" id="branko_grims">
                <% data.results.forEach(function(result) { %>
                  <% result.ballots.forEach(function(ballot, index) { %>
                    <li>
                      <div class="date"><%= result.date.replace(/\./g, '. ') %></div>
                      <div class="icon <%= ballot.option %>"></div>
                      <div class="motion">Glasoval <%= ballot.option.toUpperCase() %> <a href="#"><%= ballot.motion %></a></div>
                    </li>
                  <% }) %>
                <% }) %>

              </ul>
            </div>
            <div class="card-footer">
                <div class="card-circle-button card-share" data-back="share"></div>
                <div class="card-circle-button card-embed" data-back="embed"></div>
                <div class="card-circle-button card-info" data-back="info">i</div>
            </div>
        </div>
        <div class="back">
            <div class="back-info">
                <div class="card-header">
                    <div class="card-header-border"></div>
                    <h1>Glasovanjaaaaaaaa</h1>
                    <!-- this text is the only thing you touch in .card-header -->
                </div>
                <div class="card-back-content card-content">
                    <div class="scroller" id="tvojamtka">
                        <p class="info-text">
                            Na kartici izpisujemo vsa <%= vocab['poslanca5'][data.person.gender] %> glasovanja (skupaj z njihovimi vrednostmi), ki jih lahko uporabnik/-ca filtrira glede na odbore. Kategoriziramo jih ročno, in sicer glede na to, kateremu delovnemu telesu pripada tematika.
                        </p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="card-circle-button card-share" data-back="share"></div>
                    <div class="card-circle-button card-embed" data-back="embed"></div>
                    <div class="card-circle-button card-info card-exit" data-back="info">×</div>
                </div>
            </div>
            <div class="back-embed">
                <div class="card-header">
                    <div class="card-header-border"></div>
                    <h1>Glasovanja</h1>
                    <!-- this text is the only thing you touch in .card-header -->
                </div>
                <div class="card-back-content card-content">
                    <div class="embed-content">
                        <div class="embed-divider"></div>
                        <div class="embed-switch-container">
                            <div class="embed-label">Podatki naj se vedno osvežujejo</div>
                            <div class="embed-switch-big-box">
                                <div class="embed-switch-box">
                                    <div class="embed-switch">
                                        <div class="embed-switches">
                                            <div class="leftswitch">
                                                DA
                                            </div>
                                            <div class="rightswitch">
                                                NE
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="embed-switch-ball"></div>
                            </div>
                        </div>
                        <div class="embed-divider"></div>
                        <div class="embed-script">
                            <textarea class="form-control" data-id="<%= data.person.id %>" data-url="https://glej.parlameter.si/<%= cardData.group %>/<%= cardData.method %>/"><iframe frameborder="0" width="620" height="400" src="https://glej.parlameter.si/<%= cardData.group %>/<%= cardData.method %>/<%= data.person.id %>/?embed=true"></textarea>
                            <button class="btn-parlameter btn-full-width btn-blue btn-copy-embed">KOPIRAJ</button>
                        </div>
                        <div class="embed-divider"></div>
                        <div class="embed-export">
                            <div class="embed-label">Izvozi kartico kot sliko <button class="btn-parlameter btn-blue btn-margin-left">PRENESI</button></div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="card-circle-button card-share" data-back="share"></div>
                    <div class="card-circle-button card-embed card-exit" data-back="embed">×</div>
                    <div class="card-circle-button card-info" data-back="info">i</div>
                </div>
            </div>
            <div class="back-share">
                <div class="card-header">
                    <div class="card-header-border"></div>
                    <h1>Glasovanja</h1>
                    <!-- this text is the only thing you touch in .card-header -->
                </div>
                <div class="card-back-content card-content">
                    <div class="share-content">
                        <label for="share-url">Neposredna povezava do kartice</label>
                        <input type="url" class="form-control" id="share-url" value="https://parlameter.si/trajlala"/>
                        <button class="btn-parlameter btn-full-width btn-blue">KOPIRAJ</button>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="card-circle-button card-share card-exit" data-back="share">×</div>
                    <div class="card-circle-button card-embed" data-back="embed"></div>
                    <div class="card-circle-button card-info" data-back="info">i</div>
                </div>
            </div>
        </div>
    </div>
    <!-- everything below here is part of the page and not part of the card -->

    <!-- your js file is compiled to this and later inlined (must begin with data-inline="true" )-->
    <!-- inline temp/js/script.js as <script> -->
    <script data-inline="true" src="js/script.js"></script>

</body> <!-- removeme -->

</html> <!-- removeme -->
