<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" data-remove="false" data-concat="false">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" data-remove="false" data-concat="false"></script>
    <link rel="stylesheet" href="https://cdn.parlameter.si/v1/lib/css/perfect-scrollbar.min.css" data-remove="false" data-concat="false">
    <script src="https://cdn.parlameter.si/v1/lib/js/perfect-scrollbar.min.js" data-remove="false" data-concat="false"></script>


    <!-- these are your (s)css and js files -->
    <link rel="stylesheet" href="scss/style.css" data-prefix="true">
    <script src="js/script.js" data-prefix="true"></script>
    <!-- your extra (s)css and js files should be above this line -->

    <!-- Livereload script for development only (stripped during dist build) -->
    <script src="http://localhost:35729/livereload.js" data-concat="false" data-remove="false"></script>
</head>

<body>


    <!-- everything above here is part of the page and not part of the card -->
    <div class="card-container card-halfling">
        <div class="card-header card-header-embed">
            <div class="headerimage-container">
                <img src="//cdn.parlameter.si/v1/img/demo/poslanka.png" class="img-responsive img-circle">
                <!-- <img src="//cdn.parlameter.si/v1/img/people/<%= data.person.id %>.png" class="img-responsive img-circle"> -->
            </div>
            <div class="headerwords-container">
                <h1>Osnovne informacije o poslanki <br>&nbsp;</h1> <!-- TODO IF MORE CHARS THAN X THEN LINE BREAK -->
                <h2><span class="name"><%= data.person.name %></span> / <span class="acronym"><%= data.person.party.acronym %></span></h2>
            </div>
            <!-- this text is the only thing you touch in .card-header -->
        </div>
        <div class="card-content">
            <div class="bgwhite poslanec">

                <%
                    for (var i=0; i < data.results.length; i++) {
                        var word = data.results[i];
                        word.score = Math.round(word.tfidf * 5000);
                %>

                <div class="me_poslanec clearfix">

                    <div class="col150">
                        <span class="poslanec_title">
                                        <%= word.term %>
                                    </span>
                    </div>
                    <div class="col280">
                        <div class="progress hugebar2 avgmin">
                            <div class="progress-bar funblue" role="progressbar" aria-valuenow="<%= word.score %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= word.score %>%;">
                                <span class="sr-only"><%= word.score %></span>
                            </div>
                            <div class="progress_number">
                                <%= word.score %>
                            </div>

                        </div>
                    </div>
                </div>

                <%
                    }
                %>



            </div>
            <!-- delete this placeholder, this is the content of your card -->
        </div>
        <div class="card-footer">
            <div class="card-circle-button card-share"></div>
            <div class="card-circle-button card-embed"></div>
            <div class="card-circle-button card-info">i</div>
        </div>
    </div>
    <!-- everything below here is part of the page and not part of the card -->


    <iframe id="helpframe" src='' height='0' width='0' frameborder='0'></iframe>
</body>

</html>
