<!DOCTYPE html> <!-- removeme -->
<html> <!-- removeme -->

<head> <!-- removeme -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/> <!-- removeme -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">     <!-- removeme -->

    <!-- build:remove -->
    <!-- these script files are removed on build -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/perfect-scrollbar.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/perfect-scrollbar.jquery.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/script.js"></script>
    <!-- endbuild -->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"           data-remove="false" data-concat="false"> <!-- removeme -->
    <link rel="stylesheet" href="https://cdn.parlameter.si/v1/parlassets/css/perfect-scrollbar.css" data-remove="false"           data-concat="false"> <!-- removeme -->
    <link rel="stylesheet" href="https://cdn.parlameter.si/v1/parlassets/scss/style.css" data-remove="false"           data-concat="false"> <!-- removeme -->

    <!-- your css file is compiled to this and later inlined (must begin with data-inline="true" )-->
    <link data-inline="true" rel="stylesheet" href="css/style.css">

</head> <!-- removeme -->

<body> <!-- removeme -->


<!-- everything above here is part of the page and not part of the card -->
<div class="card-container card-halfling <%= className %>">
    <div class="card-header">
        <div class="card-header-border"></div>
        <h1>Zadnje aktivnosti</h1>
        <!-- this text is the only thing you touch in .card-header -->
    </div>
    <div class="card-content recent-activity full">
        <div class="card-content-front stickinme">
            <div class="2scrollbar-recent-activity">

                <% for (var i = 0; i < data.results.length; i++) {
                    var day = data.results[i];
                %>

                <div class="date"><%= day.date %></div>
                <section>

                    <ul>

                        <% for (var j = 0; j < day.events.length; j++) {
                            var event = day.events[j];
                            var icon = '';
                            var verb = '';
                            var thing = '';
                            var thingwhere = '';

                        if(event.type === 'ballot'){

                            switch (event.option) {
                                case 'za':
                                    icon = 'parlaicon-za';
                                    verb = (data.person.gender == 'm') ? 'Glasoval ZA' : 'Glasovala ZA';
                                    break;
                                case 'proti':
                                    icon = 'parlaicon-proti';
                                    verb = 'Glasovala PROTI';
                                    verb = (data.person.gender == 'm') ? 'Glasoval PROTI' : 'Glasovala PROTI';
                                    break;
                                case 'ni':
                                    icon = 'parlaicon-ni';
                                    verb = 'NI glasovala za';
                                    verb = (data.person.gender == 'm') ? 'NI glasoval za' : 'NI glasovala za';
                                    break;
                            }

                            thing = event.vote_name;
                        %>

                        <li>
                            <span class="parlaicon <%= icon %>"></span>
                            <p><%= verb %> <a class="funblue-light-hover" href="#"><%= thing %></a></p>
                        </li>

                        <%
                        } else {
                            icon = 'parlaicon-govor';
                            verb = 'Govorila';
                            verb = (data.person.gender == 'm') ? 'Govoril' : 'Govorila';
                            thing = event.session.name;
                            thingwhere = event.session.org.name
                        %>

                        <li>
                            <span class="parlaicon <%= icon %>"></span>
                            <p><a class="funblue-light-hover" href="#"><%= verb %></a>&nbsp;na&nbsp;<a class="funblue-light-hover" href="#"><%= thing %> <%=thingwhere%></a></p>
                        </li>

                        <%
                        }
                        %>

                        <% } %>

                        <!-- <li>
                            <span class="glyphicon glyphicon-ban-circle"></span>
                            <p>Se VZDRŽALA glasovanja o <a class="funblue-light-hover" href="#">Sklepu o imenovanju člana nadzornega sveta RTV</a></p>
                        </li> -->
                    </ul>

                </section>

                <% } %>

            </div>
            <!-- delete this placeholder, this is the content of your card -->
        </div>
        <div class="card-content-info hidden">
            <div class="card-back-content">
                <div class="scroller" id="tvojamtka">
                    <p class="info-text">
                        Na kartici izpisujemo povezave do vseh <%= vocab['poslanca'][data.person.gender] %> glasovanj in govorov, ki so se zgodili v zadnjih desetih dneh, ko je <%= vocab['biti'][data.person.gender] %> <%= vocab['poslanec'][data.person.gender] %> <%= vocab['aktiven'][data.person.gender] %>
                    </p>
                </div>
            </div>
        </div>
        <div class="card-content-embed hidden">
            <div class="card-back-content">
                <div class="embed-content">
                    <div class="embed-divider"></div>
                    <div class="embed-switch-container">
                        <div class="embed-label">Podatki naj se vedno osvežujejo</div>
                        <div class="embed-switch-big-box">
                            <div class="embed-switch-box">
                                <div class="embed-switch">
                                    <div class="embed-switches">
                                        <div class="leftswitch">
                                            DA
                                        </div>
                                        <div class="rightswitch">
                                            NE
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="embed-switch-ball"></div>
                        </div>
                    </div>
                    <div class="embed-divider"></div>
                    <div class="embed-script">
                        <textarea class="form-control" data-id="<%= data.person.id %>" data-url="https://glej.parlameter.si/<%= cardData.group %>/<%= cardData.method %>/"><script>(function(d,script){script=d.createElement('script');script.type='text/javascript';script.async=true;script.onload=function(){iFrameResize({log:true,checkOrigin:false})};script.src = 'https://cdn.parlameter.si/v1/parlassets/js/iframeResizer.min.js';d.getElementsByTagName('head')[0].appendChild(script);}(document));</script><iframe frameborder="0" width="100%" src="https://glej.parlameter.si/<%= cardData.group %>/<%= cardData.method %>/<%= data.person.id %>/?embed=true&altHeader=true"></textarea>
                        <button class="btn-parlameter btn-full-width btn-blue btn-copy-embed">KOPIRAJ</button>
                    </div>
                    <div class="embed-divider"></div>
                    <div class="embed-export">
                        <div class="embed-label">Izvozi kartico kot sliko <button class="btn-parlameter btn-blue btn-margin-left">PRENESI</button></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-content-share hidden">
            <div class="card-back-content card-content">
                <div class="share-content">
                    <label for="share-url">Neposredna povezava do kartice</label>
                    <input type="url" class="form-control share-url" id="share-url" value="https://glej.parlameter.si/<%= cardData.group %>/<%= cardData.method %>/<%= data.person.id %>/?frame=true&altHeader=true"/>
                    <button class="btn-parlameter btn-full-width btn-blue">KOPIRAJ</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="card-circle-button card-share" data-back="share"></div>
        <div class="card-circle-button card-embed" data-back="embed"></div>
        <div class="card-circle-button card-info" data-back="info">i</div>
    </div>
</div>
<!-- everything below here is part of the page and not part of the card -->

<!-- your js file is compiled to this and later inlined (must begin with data-inline="true" )-->
<!-- inline temp/js/script.js as <script> -->
<script data-inline="true" src="js/script.js"></script>

</body> <!-- removeme -->

</html> <!-- removeme -->
