<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" data-remove="false" data-concat="false">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" data-remove="false" data-concat="false"></script>
    <link rel="stylesheet" href="https://cdn.parlameter.si/v1/lib/css/perfect-scrollbar.min.css" data-remove="false" data-concat="false">
    <script src="https://cdn.parlameter.si/v1/lib/js/perfect-scrollbar.min.js" data-remove="false" data-concat="false"></script>


    <!-- these are your (s)css and js files -->
    <link rel="stylesheet" href="scss/style.css" data-prefix="true">
    <script src="js/script.js" data-prefix="true"></script>
    <!-- your extra (s)css and js files should be above this line -->

    <!-- Livereload script for development only (stripped during dist build) -->
    <script src="http://localhost:35729/livereload.js" data-concat="false" data-remove="false"></script>
</head>

<body>


    <!-- everything above here is part of the page and not part of the card -->
    <div class="card-container card-halfling">
        <div class="card-header card-header-embed">
            <div class="headerimage-container">
                <img src="//cdn.parlameter.si/v1/img/demo/poslanka.png" class="img-responsive img-circle">
                <!-- <img src="//cdn.parlameter.si/v1/img/people/<%= data.person.id %>.png" class="img-responsive img-circle"> -->
            </div>
            <div class="headerwords-container">
                <h1>Osnovne informacije o poslanki <br>&nbsp;</h1> <!-- TODO IF MORE CHARS THAN X THEN LINE BREAK -->
                <h2><span class="name"><%= data.person.name %></span> / <span class="acronym"><%= data.results.acronym %></span></h2>
            </div>
            <!-- this text is the only thing you touch in .card-header -->
        </div>
        <div class="card-content recent-activity">
            <div>

                <% for (var i=0; i < data.results.length; i++) {
                    var day = data.results[i];
                %>

                <section>
                    <span class="date"><%= day.date %></span>

                    <ul>

                        <% for (var j=0; j < day.events.length; j++) {
                            var event = day.events[j];
                            var icon = '';
                            var verb = '';
                            var thing = '';

                            if(event.type === 'ballot'){

                                switch(event.option){
                                    case 'za':
                                        icon = 'parlaicon-za';
                                        verb = 'Glasovala ZA';
                                        break;
                                    case 'proti':
                                        icon = 'parlaicon-proti';
                                        verb = 'Glasovala PROTI';
                                        break;
                                    case 'ni':
                                        icon = 'parlaicon-ni';
                                        verb = 'NI glasovala za';
                                        break;
                                }

                                thing = event.vote_name;
                            %>

                            <li>
                                <span class="parlaicon <%= icon %>"></span>
                                <p><%= verb %> <a href="#"><%= thing %></a></p>
                            </li>

                            <%

                            } else {
                                icon = 'parlaicon-govor';
                                verb = 'Govorila';
                                thing = event.session_name;

                            %>

                            <li>
                                <span class="parlaicon <%= icon %>"></span>
                                <p><a href="#"><%= verb %></a> na <a href="#"><%= thing %></a></p>
                            </li>

                            <%

                            }
                        %>

                        <% } %>

                        <!-- <li>
                            <span class="glyphicon glyphicon-ban-circle"></span>
                            <p>Se VZDRŽALA glasovanja o <a href="#">Sklepu o imenovanju člana nadzornega sveta RTV</a></p>
                        </li> -->
                    </ul>

                </section>

                <% } %>

            </div>
            <!-- delete this placeholder, this is the content of your card -->
        </div>
        <div class="card-footer">
            <div class="card-circle-button card-share"></div>
            <div class="card-circle-button card-embed"></div>
            <div class="card-circle-button card-info">i</div>
        </div>
    </div>
    <!-- everything below here is part of the page and not part of the card -->


    <iframe id="helpframe" src='' height='0' width='0' frameborder='0'></iframe>
</body>

</html>
